[2020-04-17 16:53] shahpiyushv opened #1 "Test issue (MEGH-787)"
This is a test issue

[2020-04-17 17:11] #1 closed

[2020-04-18 19:52] abhatikar opened #2 "Question:Rainmaker support (MEGH-789)"
Will we have Rainmaker support for the Esp32 Wroom or Huzzah32 ?

[2020-04-23 22:53] AleConti opened #3 "RainMaker on ESP32 (MEGH-816)"
Hi, I build and flash firmware to an ESP32WROOM, and get this error:

E (824) esp_rmaker_core: Failed to initialise Node Id
E (824) app_main: Could not initialise ESP RainMaker. Aborting!!!

This is Switch example, it build OK and then flash OK too. BOOT and Led output are ok too, it turn ON and OFF the output led. But WiFi dont start .

Thanks!!!
Ale Conti

[2020-04-24 15:22] scamberlin commented on #3
I tried with this type of problem on an m5stack. I think the support for esp32 card is incomplete ? There are problems with retrieving the node id on esp32 (it's work with esp32s2) and with claiming support ?

[2020-04-24 18:48] shahpiyushv commented on #3
We will start giving out support for ESP32 on-demand and later open up to a wider audience. Can you send the email id you used for registering on ESP RainMaker to esp-rainmaker-admin@espressif.com?

[2020-04-25 03:15] shahpiyushv commented on #2
We will start giving out support for ESP32 on-demand and later open up to a wider audience. Can you send the email id you used for registering on ESP RainMaker to esp-rainmaker-admin@espressif.com so that it can be enabled for you?

[2020-04-25 18:43] AleConti commented on #3
Yes, sure, I advanced one more step, and now it creates NODE ID , but fails when claim MQTT Credentials...
I (851) wifi:Init dynamic rx buffer num: 32
I (881) esp_rmaker_core: Node ID ----- 30AEA40CA360
E (881) esp_rmaker_core: Failed to initialise MQTT Config. Credentials missing.
E (881) app_main: Could not initialise ESP RainMaker. Aborting!!!

[2020-04-25 18:54] scamberlin commented on #3
The code actually generate certificates for esp32s2 but not for esp32. It seem to be in progress :)

[2020-04-25 20:56] AleConti commented on #3
Yes, self claiming service is only for esp32s2 now, we must wait for our esp32 ;) ...

[2020-04-25 23:24] scamberlin commented on #3
Or we can provide some help... This project is great !

[2020-04-25 23:37] AleConti commented on #3
Yes of course! In the menuconfig of ESP32s2 the self claim option appears to setup, where the URL and the Host MQTT endpoint are configured to generate the MQTT certificate. Very interesting project, I have a batch of esp32WROOM to apply it, and the application is very interesting as presented. I'm working with AWS free trier for the backend, and AWS amplify with React Native for the App, but this

[2020-04-30 03:34] anujdeshpande opened #4 "Install cli using `python setup.py install`"
This would make the setting PATH variable part redundant as python bin directory should already be part of the path

[2020-05-15 05:36] jamesjian007 opened #5 "Could not build the project with error (MEGH-887)"
Hi
error:

esp-rainmaker/components/led_strip/src/led_strip_rmt_ws2812.c:155:14: error: implicit declaration of function 'rmt_get_counter_clock'; did you mean 'rmt_get_source_clk'? [-Werror=implicit-function-declaration]
  STRIP_CHECK(rmt_get_counter_clock((rmt_channel_t)config->dev, &counter_clk_hz) == ESP_OK,
              ^~~~~~~~~~~~~~~~~~~~~

[2020-05-15 12:00] shahpiyushv commented on #5
@jamesjian007 , what is your esp-idf version? Are you using the master branch?

[2020-05-16 07:19] jamesjian007 commented on #5
@shahpiyushv I am using 4.0.

[2020-05-16 11:49] shahpiyushv commented on #5
@jamesjian007, please switch to the master branch and try again.

[2020-05-17 08:57] jamesjian007 commented on #5
Fixed by use the esp-idf-tools-setup-2.3.exe tool and reinstall with the Master branch. thanks

[2020-05-17 08:57] #5 closed

[2020-05-22 11:40] zhanzhaocheng opened #6 "esp_claim: Claim Verify Failed (MEGH-913)"
- [x] I have read the documentation [esp-rainmaker  Programming Guide](https://rainmaker.espressif.com/docs/get-started.html) and the issue is not addressed there.
- [x] I have searched the issue tracker for a similar issue and not found a similar issue.

## Environment

- Core : ESP32-S2-Saola_v1.0
- app version : iOS & [Android Version 1.0.3](https://github.com/espressif/esp-rainmaker/wiki/andro

[2020-05-22 12:40] zhanzhaocheng commented on #6
I used `./rainmaker.py claim/dev/ttyUSB0` to write` claim_data` problem has been fixed

[2020-05-22 12:40] #6 closed

[2020-05-25 06:14] NemesisXB opened #7 "Push Button UI element (MEGH-916)"
This is a feature request to add a push button UI element. Basically like a doorbell. A button that does not remember state. It can possible send true when you push it, and when you push it again, it will send true as the value again.
It can be used for example to trigger an open or close of a gate or garage door.

[2020-05-29 22:49] DanielJimenezHernandez commented on #2
same issue here i want to start testing in the platform with the devkit-c that i have can this also be enabled for me?

[2020-05-30 09:38] Di-Strix commented on #2
Not so long ago, I tested Rainmaker again on esp-wroom-32 and after the update it started working fine. But it needs to setup CLI first

[2020-06-01 02:43] #3 closed

[2020-06-01 11:27] shahpiyushv commented on #2
@DanielJimenezHernandez , the ESP32 support is now enabled by default for all. As mentioned by  @Di-Strix , you need to set-up the CLI and use the claim command to get the credentials.

[2020-06-11 04:11] sky9971 opened #8 "Need Support for ESP8266 with RTOS SDK"
Hi team,

I check out esp-rainmaker for esp32, I wanted to know if it can also be used with esp8266 along with the ESP8266_RTOS_SDK?

If you have any suggestions to make the port please let me know.

[2020-06-17 14:34] jwktje opened #9 "WiFi Provisioning for custom phone app"
How would I go about implementing the WiFi Provisioning in my own phone app?
I would wanna build this phone app with React Native.

The REST API only seems to expose interaction for after the device has been provisioned and mapped to a user. So how would I go about implementing this provisioning/mapping step?

[2020-06-17 16:23] shahpiyushv commented on #9
@jwktje , there are various ways by which you can go about this

1) Use the ESP RainMaker Phone app sources. Links: [iOS](https://github.com/espressif/esp-rainmaker-ios), [Android](https://github.com/espressif/esp-rainmaker-android).
2) Use the Wi-Fi Provisioning phone libraries in your own app. Links: [iOS](https://github.com/espressif/esp-idf-provisioning-ios), [Android](https://github.com/espre

[2020-06-17 18:43] jwktje commented on #9
@shahpiyushv Option 2 looks like a good option. Would it be hard to wrap both the iOS and Android libraries into a React Native Plugin? I guess that's out of scope for this issue so you can close it if you want. But I was just wondering if maybe you have experience with this.

[2020-06-18 06:26] vikas-chandra-mnnit commented on #9
@jwktje To wrap the libraries some code and data transfer logic needs to be added in the libraries as well. Both our libraries are open source so you can take the source code and add methods in it to exposes the api's to react native module. It seems a bit hard to start with but if you decide to proceed then there is full API documentation for iOS library :https://espressif.github.io/esp-idf-provi

[2020-06-18 13:35] mrutyunjay-patel commented on #7
👍  My vote for this feature !
also add if possible with modes  Push-to-ON and Push-OFF , Time Duration

[2020-06-19 13:29] bbinet opened #10 "Question: do you plan to add support for wifi mesh?"
Would be great to be able to connect devices through esp wifi mesh!

[2020-06-19 15:21] bbinet opened #11 "Question: BLE services/characteristics support"
After reading the rainmaker examples, its model of defining **devices** and **attributes** in rainmaker projects seemed very similar to how we can define **services** and **characteristics** in BLE.

So I was wondering if you were planning to develop some interoperability with BLE so that we can also control our esp device locally with bluetooth when internet connection is not available. This feat

[2020-06-19 17:38] shahpiyushv commented on #11
@bbinet , we plan to integrate the [esp_local_control](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/protocols/esp_local_ctrl.html) feature of esp-idf into RainMaker so that control would be possible from phones in the same local network, or even over BLE (for ESP32 only) as you said.

[2020-06-22 07:39] bbinet commented on #11
Thank you @shahpiyushv, that will be very useful.

[2020-06-22 07:39] bbinet commented on #11
@shahpiyushv any ETA on that feature?

[2020-06-25 14:51] jwktje commented on #9
@vikas-chandra-mnnit @shahpiyushv Thanks for the input. I'm a Webdeveloper by trade so I feel like I'm missing the App-dev skills to make this work. If anyone happens to stumble upon this and knows how to make this wrapper for React Native work, I'm willing to put a code bounty of $100 on this. I know this is probably not much. But for me this is for a hobby project so hopefully any app-devs that

[2020-06-27 16:28] shahpiyushv commented on #10
@bbinet , support for Wi-Fi mesh would be an interesting use case indeed. However, with the current architecture, it could be a bit tricky, for following reasons

1) In ESP RainMaker, each ESP32/ESP32-S2 has a unique set of node_id, private key and certificate which helps it to identify itself to the cloud. So, a root node in the mesh cannot report information of the other nodes directly.
2) The n

[2020-06-27 16:30] shahpiyushv commented on #11
@bbinet , since it would require support on the node as well as the phone apps, considering the other tasks planned, I would say that it could take at least a month. If it happens earlier than that, I will drop a message here.

[2020-06-27 16:32] shahpiyushv commented on #8
Sorry, we do not plan to support this on ESP8266 any time soon.

[2020-06-28 14:07] jwktje commented on #9
As a side-note update, I did successfully update my prototype to work with provisioning based on [this example](https://trello.com/c/d6c23UEz/45-https-githubcom-espressif-arduino-esp32-tree-master-libraries-wifi-examples-wifiprov).

It would be great if there was a way to allow end users to provision without needing the ESP SoftAp Prov app. I will try and see if I can find some way to make it work

[2020-07-01 13:41] amoghpalnitkar commented on #9
@jwktje I'm almost doing the same thing as you are. I will most likely be able to spend some time this week and early next week to get this app migrated to react-native via native modules. let me know if you can wait till then.

[2020-07-01 16:21] jwktje commented on #9
@amoghpalnitkar That would be amazing! And if there is anything I can do to assist during development or afterwards to test, let me know! I really wanna collaborate on this, but as I mentioned, I know almost nothing of native app development sadly.

What do you think your approach would be? Would you work on a bridging library that wraps both the [iOS](https://github.com/espressif/esp-idf-provisio

[2020-07-01 16:35] amoghpalnitkar commented on #9
@jwktje Correct. This would be a wrapper around the iOS and Android esp-idf-provisioning library.

A function call from react-native will hand over the control to the native code. The native code will interact with the native esp-idf-provisioning library. This will also have UI to scan the QR code & provision the device.
On successful provisioning, it will hand back control to react-native.

[2020-07-01 16:46] jwktje commented on #9
@amoghpalnitkar If you are able to provide such a library for React Native that would be amazing, and that's exactly what I need to move forward with my project. So if you have the time to make that work I will for sure send you that code bounty I mentioned in my previous content.

Let me know if I can do something to help, or if you have it working to a point where I can test it. Thanks in advanc

[2020-07-02 13:58] amoghpalnitkar commented on #9
@jwktje It looks like we will need to include the login screens in the library as well, but probably as a react-native plugin rather than native. aws-cognito has decent react-native support so it might make sense to use it.

I am still in two minds whether we should go native or react-native for login pages. @jwktje What do you think? Which use case suits you better?

@shahpiyushv would it be poss

[2020-07-02 14:48] CodorStelian opened #12 "Receive gpio value from nowhere (MEGH-1035)"
Hi,
I have an issue with gpio state.
Esp32 receive two value from nowhere, it is very strange that it happens before wifi connection and after gpio state appears false in rainmaker app.
![IMG_20200702_173141](https://user-images.githubusercontent.com/16373292/86373347-faa7d300-bc8b-11ea-95fd-32bcb147f891.jpg)

Thanks

[2020-07-02 15:50] shahpiyushv commented on #12
@CodorStelian have you used  PROP_FLAG_PERSIST for your parameters? If yes, your callback gets invoked as soon as you add the parameter, so that the stored values can reflect on the actual hardware.

[2020-07-02 16:19] jwktje commented on #9
@amoghpalnitkar In that case I think your use-case might differ from mine. I don't need the full scope of the ESP RainMaker platform to be exposed through React Native.

Only the provisioning functions/libraries. And really only SoftAP, no BLE.
So if I could run these functions for Android/iOS through a bridge library I would be happy;

- createESPDevice
- espDevice.connect
- espDevice.scanWifiLis

[2020-07-02 16:30] amoghpalnitkar commented on #9
@jwktje Oh, I see. Does that mean you only need those functions to be exposed and you would be building your own screens in react-native over these functions?

That could still be a subset of my current work.

[2020-07-02 17:08] CodorStelian commented on #12
@shahpiyushv Thank you very much.
Just disabled it from esp_maker_core.h and problem is solved.😁

[2020-07-02 17:08] #12 closed

[2020-07-02 18:14] shahpiyushv commented on #12
@CodorStelian , good to know that the problem got resolved. However, adding this flag is something that the application does, not the core component. So, I did not understand what you mean by "Just disabled it from esp_maker_core.h ". Where exactly did you make the change?

[2020-07-03 07:20] jwktje commented on #9
@amoghpalnitkar Yes. Because I want to integrate the WiFi provisioning of my ESP32-based device into the current onboarding/setup steps of my app. So I will build out my own screens for connecting, scanning and so on.

Sorry that it's a bit confusing, because this issue is open on the esp-rainmaker repository. But I will not de using the RainMaker functions on my device, nor the REST backend they

[2020-07-03 16:59] amoghpalnitkar commented on #9
@jwktje I can build something that is usable for you, now that I know the exact use case. Will keep you posted.

[2020-07-05 09:56] amoghpalnitkar commented on #9
@jwktje I have sent you a repo invite to the first draft. Currently, it only has ios bridge. Building the Android bridge can happen once we finalise iOS. Please create issues on that repo for further feedback. Thanks!

[2020-07-05 19:10] jwktje commented on #9
@amoghpalnitkar I accepted the invite and will start testing tomorrow! Thanks very much! I will create issues on the repo for anything that I find during testing. :D

[2020-07-06 03:23] jhubbardsf opened #13 "Local Notifications on client phones?"
Is this something that is being looked into for the future. I haven't noticed anybody mention it and it seems like it would be a very very useful feature. A lot of my devices need to be able to notify the user if a certain condition is met. This would obviously be most useful through the app. Unless I missed something big I don't see this feature mentioned anywhere. And since not all IoT devices a

[2020-07-06 06:48] shahpiyushv commented on #13
@jhubbardsf , there are plans of integrating the [ESP Local Control](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/protocols/esp_local_ctrl.html) but not local notifications. This surely would be useful and I will check what can be done to support this. There are 2 options I see:
1) ESP Local Control uses mDNS for service discovery. We can have some state change indicat

[2020-07-06 07:26] tsVestor commented on #9
@amoghpalnitkar I have the exact same use case as @jwktje . I could do the Android testing with React Native.

[2020-07-06 07:51] jwktje commented on #9
I have started testing and will commit any changes that I think I can make on a separate branch of the repo. This way I can make a PR and @amoghpalnitkar can check them before merging. Maybe @tsVestor can do something similar for any Android quirks? And obviously testing and creating issues is super helpful feedback too!

[2020-07-06 09:39] tsVestor commented on #9
Sure

[2020-07-06 10:55] CodorStelian commented on #12
@shahpiyushv Just changed 1 with 0. I don't know if this is correct solution but it works.
![persist](https://user-images.githubusercontent.com/16373292/86586180-2bd81a00-bf90-11ea-9251-cc7c88a36855.png)

[2020-07-06 11:05] shahpiyushv commented on #12
@CodorStelian , this isn't the correct solution. Please check if your code has any esp_rmaker_device_add_param() call with the property flags having PROP_FLAG_PERSIST set. With your change, even the custom device name that you may set from the phone app will change back to the default after a reboot.

[2020-07-06 12:32] CodorStelian commented on #12
@shahpiyushv , my code doesn't have any PROP_FLAG_PERSIST. If you want to check the code [https://github.com/CodorStelian/ESP32-Rainmaker-22-Z](https://github.com/CodorStelian/ESP32-Rainmaker-22-Z)

[2020-07-06 12:55] shahpiyushv commented on #12
@CodorStelian , my bad! I should have realised from the original log itself.

For all parameters that have the PROP_FLAG_PERSIST set, the service callback gets invoked once during the initialisation sequence. The "name" parameter, which is added internally, has this flag set by default. Your callback is getting invoked for the Name parameter, as you can see in these lines:

[code]

The culprit for

[2020-07-06 13:28] CodorStelian commented on #12
I see..., my mistake. Thank you for helping me and have a nice day!

[2020-07-19 13:33] tsVestor commented on #9
@amoghpalnitkar @jwktje could you please invite me to the corresponding repo

[2020-07-22 17:44] jwktje commented on #9
Hey @tsVestor We are still refactoring it into something that is easier to get more collaborators on board with. Currently it's more a full prototype project and @amoghpalnitkar is working on turning it into a plugin. Once we have that we could share the repo.

[2020-07-23 05:47] jhubbardsf commented on #13
I'm liking the idea of number 2 more than number 1. I'll be honest, I was a little weary of contributing to mobile app related code with Espressif because the esp-idf-provisioning-ios repository used to have countless bugs that the example app on the store didn't and obviously wasn't the same codebase. Looks like you guys are doing a lot better at keeping them synced. If Rainmaker is gonna be legi

[2020-07-23 06:07] jhubbardsf commented on #13
I just want to make sure we're talking about the same think. ESP Local Control allows  a developer to write code that can control an MCU via web, ble, whatever. Which is great for when your internet goes down but you still need to control your devices and wanna seamlessly hop over to BLE. But I'm talking about just plain notification on the app when an event on the MCU is met. I'm not sure it's re

[2020-07-23 13:54] shahpiyushv commented on #13
@jhubbardsf , mDNS is actually quite suited for such simpler applications. Even Apple's HomeKit eco system solely relies on mDNS for discovering accessories on the local network. ESP Local Control, in this context, is more as a means of discovery and establishing a secure channel between the client and device. Since it anyways uses BLE or HTTPD, it could very well be modified to send an asynchrono

[2020-07-23 15:48] jhubbardsf commented on #13
Interesting, I'll definitely be checking out that codebase for ESP LC this weekend. Since this is what I need to use rainmaker I'll give it a shot and hit you up if I have any specific questions. ESP LC does sound like a good option.

On Jul 23 2020, at 9:54 am, Piyush Shah <notifications@github.com> wrote:

[2020-08-04 11:56] intothefuture20 opened #17 "Build Issue (MEGH-1098)"
Not able to build example - Switch and Fan, did not try others. I get the following error in both:

![Error-Part1](https://user-images.githubusercontent.com/36773209/89291028-6c05e780-d677-11ea-9f88-aadc1f8c04a0.PNG)
![Error-Part2](https://user-images.githubusercontent.com/36773209/89291031-6d371480-d677-11ea-9159-71f40af64a0d.PNG)

Seems something wrong in led_strip under components.

[2020-08-04 11:58] shahpiyushv commented on #17
@intothefuture20 , I suppose you are using esp-idf v4.0 or v4.1. Can you try with the master branch?

[2020-08-04 13:36] intothefuture20 commented on #17
I tried the master branch and got another error now:

![image](https://user-images.githubusercontent.com/36773209/89300215-7c24c380-d685-11ea-8440-d335590a0e42.png)

and similarly for switch.elf

[2020-08-04 13:42] shahpiyushv commented on #17
@intothefuture20 , the log is insufficient to understand what is going wrong. A few questions:
- Did you try an `idf.py fullclean` before rebuilding after you switched the branches? I would also recommend that you delete the sdkconfig file before rebuilding.
- Are you able to build other esp-idf examples on the master branch?

[2020-08-04 13:55] intothefuture20 commented on #17
Hello Piyush,

May be off the league question, but are there other ways to build the examples? I mean the easier one maybe, easier method?

And yes I was able to build esp-idf examples without any error

[2020-08-04 14:15] intothefuture20 commented on #17
Hello Piyush,

Thank you for your help. Much appreciated. As suggested deleting sdkconfig file helped and the build was successful.

[2020-08-04 14:28] shahpiyushv commented on #17
@intothefuture20 , good to know that the problem got fixed. If you prefer IDEs, we have a [VS Code extension](https://github.com/espressif/vscode-esp-idf-extension) available for esp-idf. You can also check the [RainMaker Support](https://github.com/espressif/vscode-esp-idf-extension#esp-rainmaker-support) section there.

[2020-08-06 16:13] shahpiyushv commented on #17
Closing this issue as it has been resolved.

[2020-08-06 16:13] #17 closed

[2020-08-24 09:04] rtxsc opened #18 "analogRead function for standard analog input like Arduino?"
Hi everyone, may i know if there'll be an update for getting analogRead function like how we would do it in Arduino?

[2020-08-24 13:31] shahpiyushv commented on #18
@rtxsc , ESP RainMaker in itself does not have any APIs for analog/digital read/write. You will have to use underlying esp-idf APIs. For analog read, please refer [this document](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/peripherals/adc.html). Meanwhile, [RainMaker + Arduino](https://github.com/espressif/arduino-esp32/pull/4194) is also in works

[2020-08-24 14:12] rtxsc commented on #18
Thanks for the response. Can’t wait for the implementation in Arduino environment. Keep up the good work sir. ESP Rainmaker as of now is a great platform for prototyping IoT device such as TP-link KASA wifi smart-plug. I could see the potential there. The only let down now is the scarcity of library support for Arduino-like functionality and expansion.

[2020-08-25 10:42] tsVestor commented on #9
Hi @jwktje and @amoghpalnitkar I had a look at your react-native-esp-idf-provisioning repository. It is missing the android implementation, is it under development or did you put it on hold?

[2020-08-26 09:17] bbinet commented on #11
@shahpiyushv any news on this feature?

[2020-08-27 14:01] tsVestor commented on #9
@amoghpalnitkar  I'm willing to add a code bounty of 50 USD for the React-Native Android implementation.

[2020-08-29 03:56] amoghpalnitkar commented on #9
Hey @tsVestor,  apologies that I couldn't reach out earlier.
Yes, the project is currently missing android implementation.

I was neck-deep in a few releases over the last couple of weeks so couldn't find time for the Android part as well.

I have switched the repo's visibility to private since I feel it is not yet ready for the public. And I have added you as a collaborator to the repo.

I'll add

[2020-09-02 06:05] exrector opened #19 "Support HOMEKIT (MEGH-1226)"
The author of this post ( https://www.esp32.com/viewtopic.php?t=17054 ) did not make a request.  I will do.  we are all looking forward to apple homekit support and will be happy to participate in the beta.

[2020-09-02 12:58] chadburnett opened #20 "Phone app is crashing on IOS after latest update. (MEGH-1231)"
Is anyone else getting this?  I tried to delete the app and reinstall but it still launches and then crashes right away.

[2020-09-03 04:40] vikas-chandra-mnnit commented on #20
Hi @chadburnett, We have also experienced this issue on our end and have made the required fix. We are in the process of releasing the updated app on App Store. We will notify you once the new version is live.

[2020-09-03 12:18] chadburnett commented on #20
Outstanding work @vikas-chandra-mnnit!  Thanks for the heads up.

[2020-09-06 09:22] amoghpalnitkar commented on #9
@tsVestor I have added the android implementation. Could you please help me test the modules out?

[2020-09-06 10:58] tsVestor commented on #9
@amoghpalnitkar thank you, I tried it immediately. Unfortunately the example crashes in debug and release build immediately after create_device() returns with {"error": "success", "value": undefined}

[2020-09-06 12:07] amoghpalnitkar commented on #9
Ah, this might just have to do with the android permissions.

Can you please create an issue for this in the project repository?

Also, can you try again after giving the FINE_LOCATION permission manually by going to the device settings?

[2020-09-06 15:49] tsVestor commented on #9
The FINE_LOCATION permission is granted, I opened an issue

[2020-09-07 16:52] vikas-chandra-mnnit commented on #20
@chadburnett A new version of RainMaker App with the above fix is now available on App Store.

[2020-09-09 08:05] boujmilmaha opened #21 "ESP32 (MEGH-1256)"
How can i get to connect through a ESP32 with RainMaker . i didn't get it clearly using the documentations , can i get some totorials for the steps that i could use to setup the CLI and how i get the QR code when i flash the example of a switch .
i get this two error in the monitor every time i flash the example
----E (870) esp_rmaker_core: Failed to initialise Node Id. Please perform "claiming" u

[2020-09-09 09:53] shahpiyushv commented on #21
@boujmilmaha have you set up the CLI using the steps given [here](https://rainmaker.espressif.com/docs/cli-setup.html) and tried host driven claiming as per this [doc](https://rainmaker.espressif.com/docs/claiming.html#host-driven-claiming-esp32)?

[2020-09-09 09:59] boujmilmaha commented on #21
yes i setup the CLI but i can't tried host driven claiming i found this error .
usr/bin/env : "python3".  permission dinied (when i wrote :     ./rainmaker.py login        )
________________________________
De : Piyush Shah <notifications@github.com>
Envoyé : mercredi 9 septembre 2020 11:53
À : espressif/esp-rainmaker <esp-rainmaker@noreply.github.com>
Cc : boujmilmaha <boujmilmaha534@outlook.fr>;

[2020-09-09 10:10] shahpiyushv commented on #21
@boujmilmaha Can you try this instead?

[code]

[2020-09-09 10:16] boujmilmaha commented on #21
________________________________
De : Piyush Shah <notifications@github.com>
Envoyé : mercredi 9 septembre 2020 12:10
À : espressif/esp-rainmaker <esp-rainmaker@noreply.github.com>
Cc : boujmilmaha <boujmilmaha534@outlook.fr>; Mention <mention@noreply.github.com>
Objet : Re: [espressif/esp-rainmaker] ESP32 (MEGH-1256) (#21)

@boujmilmaha<https://github.com/boujmilmaha> Can you try this instead?

c

[2020-09-09 10:44] boujmilmaha commented on #21
i try this :  $ PY rainmaker.py login
this is the error i got :
Traceback (most recent call last):
  File "rainmaker.py", line 19, in <module>
    from rmaker_cmd.node import get_nodes, get_node_config, get_node_status,\
  File "C:\esp-rainmaker\cli\rmaker_cmd\node.py", line 20, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'

________________________________
De : b

[2020-09-09 11:02] shahpiyushv commented on #21
Seems you may have missed the ["Installing Dependencies"](https://rainmaker.espressif.com/docs/cli-setup.html#installing-dependencies) step, specifically this:

[code]

[2020-09-09 11:12] boujmilmaha commented on #21
i do it   :   $ pip3 install -r requirements.txt

then ,i got this :
Defaulting to user installation because normal site-packages is not writeable
Processing c:\users\infor\desktop\esp-idf\tools\kconfig_new\esp-windows-curses
Requirement already satisfied: setuptools>=21 in c:\program files\python38\lib\site-packages (from -r requirements.txt (line 4)) (47.1.0)
Requirement already satisfied: click

[2020-09-09 11:24] boujmilmaha commented on #21
this is the error i got when i install  the Dependencies<https://rainmaker.espressif.com/docs/cli-setup.html#installing-dependencies>
 ERROR: Failed building wheel for cryptography
Failed to build cryptography
ERROR: Could not build wheels for cryptography which use PEP 517 and cannot be installed directly

________________________________
De : boujmil maha <boujmilmaha534@outlook.fr>
Envoyé : mer

[2020-09-09 12:35] boujmilmaha commented on #21
$ python rainmaker.py claim COM7
I HAVE THIS PROBLEM

[ERROR]:Failed to connect to Espressif device: Timed out waiting for packet header
Failed to connect to Espressif device: Timed out waiting for packet header

________________________________
De : boujmil maha <boujmilmaha534@outlook.fr>
Envoyé : mercredi 9 septembre 2020 13:24
À : espressif/esp-rainmaker <reply@reply.github.com>
Objet : RE: [e

[2020-09-09 12:59] boujmilmaha opened #22 "claim <port> (MEGH-1257)"
i got an error every time i do this step :
$ python rainmaker.py claim 'COM7'

[ERROR]:Failed to connect to Espressif device: Timed out waiting for packet header
Failed to connect to Espressif device: Timed out waiting for packet header

what should i do !!

[2020-09-09 13:16] shahpiyushv commented on #21
@boujmilmaha , is the same COM port open somewhere else as well? Probably in `idf.py monitor`?

[2020-09-10 13:50] shahpiyushv commented on #22
@boujmilmaha , did you read my comment [here](https://github.com/espressif/esp-rainmaker/issues/21#issuecomment-689556390)? Is your COM port open somewhere else, probably in idf.py monitor? Is the COM port correct? Have you tried removing the quotes or adding double quotes to COM7?

[2020-09-16 00:33] digimatt22 commented on #9
@amoghpalnitkar i would be happy to contribute to the development of this package for react native. I have a couple uses for such a library on upcoming projects and would rather support an open source project that start from scratch. Let me know if you are looking for support in code and testing.

[2020-09-16 05:17] SNSIOTP opened #23 "GPIO isr service already installed (MEGH-1277)"
Dear All,

I am getting the following warning/error when I flash and monitor on ESP32.

![Capture](https://user-images.githubusercontent.com/71267127/93295112-ed6d9f80-f809-11ea-9f47-38f4197e39ad.PNG)

I have used 8 GPIO pins of ESP32. 4 for output and 4 for input.

Seeking assistance please

[2020-09-16 07:14] amoghpalnitkar commented on #9
@digimatt22 Thanks for the response. I would appreciate your help. Sent you an invite.

[2020-09-16 11:53] shahpiyushv commented on #23
@SNSIOTP , can you also share your code snippet indicating the GPIO numbers?

[2020-09-17 06:01] SNSIOTP commented on #23
![image](https://user-images.githubusercontent.com/71267127/93426302-612aad80-f8d9-11ea-87d0-7a95bb2be70f.png)

[2020-09-17 11:13] sachin0x18 commented on #23
@SNSIOTP IO6-IO11 are connected to the on board SPI flash so they aren't available for general purpose usage. Please use some other GPIOs.

[2020-09-17 11:24] SNSIOTP commented on #23
![image](https://user-images.githubusercontent.com/71267127/93464217-736f1080-f906-11ea-953c-41daf5b85e73.png)

[2020-09-17 12:40] ameyinamdar commented on #23
Hi @SNSIOTP,
Please check which module you are using and refer to corresponding pin definition in the module datasheet. For example, if WROOM-32 module is being used, please refer to https://www.espressif.com/sites/default/files/documentation/esp32-wroom-32_datasheet_en.pdf

[2020-09-17 12:54] sachin0x18 commented on #23
Refer to section [3.2 External Flash and SRAM](https://www.espressif.com/sites/default/files/documentation/esp32-wroom-32d_esp32-wroom-32u_datasheet_en.pdf)

[2020-09-17 14:05] SNSIOTP commented on #23
It seems I have to procure few genuine modules manufactured by Espressif to be able to test efficiently and will be more reliable. With these knock offs GPIO structure seems to be unreliable.

Thank you for all the suggestions and help. Issue can ne closed. Will test again and if the issue still persist will submit an issue.

[2020-09-17 14:06] #23 closed

[2020-09-17 14:06] SNSIOTP commented on #23
Or maybe reopen the same issue.

[2020-09-18 08:24] bbinet commented on #9
@digimatt22 note that there is also already an existing wifi provisioning app built with Flutter: https://github.com/sunshine-tech/esp_provisioning
Flutter is not react native, but quite similar technology.

[2020-09-20 23:11] Ollebolle commented on #9
@amoghpalnitkar I would be very interested in your project repo and can try to help out in any way possible, at least by testing it. I would greatly appreciate an invite! :)

[2020-09-21 02:02] png commented on #9
@amoghpalnitkar I'm sure you're tired of hearing this by now, but I would also love to try out the library and help out if I can. Working on a project that would benefit from it greatly and am trying from scratch, but, of course, it's a little bit of work.

[2020-09-22 10:20] bbinet opened #24 "Self Claiming for ESP32 (MEGH-1306)"
After reading [claiming docs](https://rainmaker.espressif.com/docs/claiming.html), I understand that  ESP32-S2 use a secret key programmed in efuse during chip manufacturing to allow self-claiming, but I don't really understand why this secret key is important in the self claiming process.
Actually, Assisted Claiming seems very similar to Self Claiming but does not seem to use any secret key.
So c

[2020-09-22 12:35] shahpiyushv commented on #24
@bbinet The primary difference is that ESP32-S2 directly authenticates itself with the claiming service (using the challenge-response created with the secret key), whereas in case of ESP32, it is the user that gets authenticated. So, you can pair as many ESP32-S2s as you want using self-claiming, but only 5 ESP32s with assisted claiming, as that is the quota assigned to each user. Since ESP32-S2 i

[2020-09-22 12:50] bbinet commented on #24
@shahpiyushv Would it be possible to use base MAC address which is factory-programmed (that is returned by esp_efuse_mac_get_default functoin) on ESP32 as a replacement to the secret key programmed in the ESP32-S2 to use self claiming on ESP32?

[2020-09-22 14:51] ameyinamdar commented on #24
Hi @bbinet MAC address is not secret and serially allocated. So it's quite easy to claim on behalf of some other device if MAC address as used as a replacement of secret key.

May I know what you are trying to achieve here? There are also other claiming methods possible like pre-provisioned modules.

[2020-09-22 15:10] bbinet commented on #24
@ameyinamdar Sure, I try to better understand the claiming process as I would eventually like to implement our own claiming service for esp32 similarly to rainmaker cloud implementation so that I can keep control over our esp32 devices using our own servers.

Actually it would be great to have opensource implementations of the rainmaker cloud enpoints.

I would be interested to know more about the

[2020-09-23 04:12] ameyinamdar commented on #24
@bbinet AWS recently announced general availability of a feature "multiaccount registration" - https://aws.amazon.com/about-aws/whats-new/2020/04/simplify-iot-device-registration-and-easily-move-devices-between-aws-accounts-with-aws-iot-core-multi-account-registration/

With this feature, any device whose certificate is registered in the AWS account can connect to AWS-IoT using the same certificat

[2020-09-23 07:17] bbinet commented on #24
Thank you @ameyinamdar for these informations, this is interesting.

[2020-09-23 07:17] #24 closed

[2020-09-25 18:41] shahpiyushv commented on #19
@exrector , we have now opened up the [ESP HomeKit SDK](https://github.com/espressif/esp-homekit-sdk) and added an example for [RainMaker + HomeKit](https://github.com/espressif/esp-rainmaker/tree/master/examples/homekit_switch) integration.

[2020-10-07 12:02] shahpiyushv commented on #19
Closing this issue since it has been addressed.

[2020-10-07 12:02] #19 closed

[2020-10-09 05:51] seedsofhope opened #25 "Google Play: "Your device isn't compatible with this version." (MEGH-1352)"
Come on, guys... What makes a device incompatile?

[2020-10-09 06:42] khushbushah2302 commented on #25
@seedsofhope ,

Can you please give some detail ?
1. What is the android version of your phone ?
2. Is app already installed on phone and currently giving this error Play Store ?

Also check [this Google Play Store issue](https://support.google.com/googleplay/thread/5241214?hl=en), if it is a problem of Google Play store.

[2020-10-12 16:00] shahpiyushv commented on #22
Closing this issue as there has been no response on this, and the "Assisted Claiming" would also help mitigate it.

[2020-10-12 16:00] #22 closed

[2020-10-12 16:06] shahpiyushv commented on #20
Closing this issue since the fix has been provided.

[2020-10-12 16:06] #20 closed

[2020-10-12 16:07] shahpiyushv commented on #2
Closing this issue as it is no more relevant.

[2020-10-12 16:07] #2 closed

[2020-10-12 16:09] shahpiyushv commented on #21
Closing this issue as there has been no activity on it. Please feel free to reopen if required.

[2020-10-12 16:09] #21 closed

[2020-10-13 07:32] exrector opened #26 "WIFI does not appear (esp32WROOM-32D/WROVER/WROOM-32)"
I do everything according to the example. (a month ago this process was successful, there was QR pairing with RAINMAKER and Homekit).

Flashing devices is a success
Also WIFI does not appear when I flash from esp-homekit-sdk

Data from the device monitor:

00:19:54.617 -> x⸮ ⸮x⸮{R⸮⸮⸮⸮0,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
00:19:54.617 -> mode:DIO, clock div:2
00:19:54.617 -> load:0x3f

[2020-10-14 08:27] exrector commented on #26
I answer to myself. It is necessary (in advance) to be registered in advance in the rainmaker application

[2020-10-14 08:27] #26 closed

[2020-10-14 21:36] exrector commented on #26
Hello @shahpiyushv
flash devices on different examples went great. But the problem is that the rebooted device does not broadcast open WIFI. WIFI is hidden. BLE Provisioning and SoftAP Provisioning cannot find the device. ESP RainMaker has fixed the situation. But you must first register there. Also at the moment there is the following issue https://github.com/espressif/esp-idf/issues/5962#issueco

[2020-10-15 19:13] copercini commented on #25
I'm with this same issue,
My android is 6.0.1 and I'm not able to download it from play store due "Your device isn't compatible with this version."

[2020-10-16 11:44] khushbushah2302 commented on #25
Unfortunately, we only support Android 7 and later. It is mentioned on [esp-rainmaker-android](https://github.com/espressif/esp-rainmaker-android#supports) repo, but we will see that it is mentioned elsewhere was well

[2020-10-16 14:00] khushbushah2302 commented on #25
Hi @copercini ,

We are trying to give support for Android 6 version. Here is the [apk](https://drive.google.com/file/d/16W2OdwHrO_5NYwCgWRxYhR_BqEhLNymH/view?usp=sharing). Try this app and let us know how it goes.

[2020-10-16 14:42] copercini commented on #25
@khushbushah2302 Thanks, it's working fine on my android 6.0.1 =)
I tested with an ESP32-S2 dev kit and Switch example firmware, everything seems working as expected

[2020-10-20 02:26] wanglemao opened #27 "这个支持你们的esp-mdf么？ (MEGH-1408)"
如题，我如果采用你们的esp-mdf，可以采用这个方案连接到云和用APP控制么

[2020-10-23 14:40] NemesisXB opened #28 "Alexa Temperature (MEGH-1437)"
Rainmaker temperature devices do not show up in Alexa. I have other devices that show temperature in Alexa, so it should be able to support it.

[2020-10-23 14:42] NemesisXB opened #29 "Select icon to display in mobile app"
It would be a great enhancement if it is possible to specify what icon to use in the mobile app. Basically a list of default images we can select to display when we create the device in rainmaker firmware. For example, I want to switch a pump, so I use a switch device, but would like the icon to be of a pump or similar.

[2020-10-23 16:10] shahpiyushv commented on #28
@NemesisXB , currently, only switch and lightbulb are supported. We will go on adding more categories, prioritising the ones that people are looking for. Since temperature sensor is mentioned as "Standard type", I guess it was natural to assume that it would be supported, but unfortunately, it is not the case. I will add a note in the docs highlighting this and also consider adding temperature sen

[2020-11-12 07:05] sivansanthoshd opened #31 "Time Zone setting in the device (MEGH-1516)"
I am trying to set the time zone for my device as IST by editing the code as per the documentation - https://rainmaker.espressif.com/docs/time-service.html#time-service.

First i tried to add the following timezone region:

and the second one using the posix timezone:

both throw the error

../main/app_main.c:161:44: error: expected declaration specifiers or '...' before '*' token
     esp_err_t e

[2020-11-12 09:36] shahpiyushv commented on #31
@sivansanthoshd the primary culprit here is the `esp_err_t` preceding the function call. `esp_err_t` is just the return type for the functions. You have to simply call the function like this:

[code]

[2020-11-12 09:53] sivansanthoshd commented on #31
After changing it to this

../main/app_main.c:159:5: error: implicit declaration of function 'esp_rmaker_time_set_timezone'; did you mean 'esp_rmaker_node_get_info'? [-Werror=implicit-function-declaration]
     esp_rmaker_time_set_timezone(&timezone);
     ^~~~~~~~~~~~~~~~~~~~~~~~~~~~
     esp_rmaker_node_get_info
cc1.exe: some warnings being treated as errors
[1212/1219] Linking CXX static librar

[2020-11-12 11:37] shahpiyushv commented on #31
@sivansanthoshd to use the `esp_rmaker_time_set_timezone ()` function, you have to include the  `esp_rmaker_utils.h` file in your code.

[2020-11-12 11:54] sivansanthoshd commented on #31
@shahpiyushv that worked like a breeze. Thank you.

[2020-11-12 12:17] sivansanthoshd opened #32 "How to configure GPIO for individual device in multiple_device example? (MEGH-1517)"
Where to set the GPIO for multiple_device example. Only OUTPUT 19 is available to be configured in the app_driver.c file.
And is there any way to change the icons that is displayed in the mobile application for the specific device type. For example, switch is a common one where i need to display a pump for example. Is it possible? or it will be updated in the future?

[2020-11-12 17:11] shahpiyushv commented on #32
@sivansanthoshd , the multi device example primarily just demonstrates the software aspect of RainMaker. Hardware and driver integration is something that users will have to do themselves as it will change as per the use cases.

For custom icons, you can raise a feature request and we can take that up when we find appropriate. Else, you have an option to take the [phone app sources](https://rainma

[2020-11-14 16:07] Hoel opened #33 "Is there a plan to open-source the server side of ESP-RainMaker, so that it can be implemented or tailored? (MEGH-1518)"
The title says it all, i wonder if there is plan to open source the server side so we could possibly implement it ourselves and tailor it to specific use case.
Thanks

[2020-11-17 18:17] shahpiyushv commented on #31
Closing this issue since it has been addressed.

[2020-11-17 18:17] #31 closed

[2020-11-17 21:30] #33 closed

[2020-11-20 10:43] FBEZ commented on #33
What was the answer?

[2020-11-20 14:14] alexiskyriakou opened #34 "Error While building (MEGH-1524)"
Hello guys,

I have install ESP-IDF and i can build its examples projects then i download the ESP Rainmaker and extract in on me C:/.

To build switch ESP Rainmaker Example, i am opening the ESP-IDF Command prompt, i change directory to switch directory and executing idf.py build and its start building but it gives me the following error

Can anyone help with this?

Thanks,
Alexis

[2020-11-20 15:29] shahpiyushv commented on #34
@alexiskyriakou it seems you did not clone esp-rainmaker using the --recursive option. Please check [here](https://github.com/espressif/esp-rainmaker#get-esp-rainmaker). Since you have already cloned the repo, you may use `git submodule update --init --recursive` to recursively update the submodules which will pull in the missing files.

[2020-11-20 15:33] Hoel commented on #33
the answer is NO

[2020-11-22 09:23] alexiskyriakou commented on #34
@shahpiyushv thank you issue solved 👍

[2020-11-24 16:19] shahpiyushv commented on #34
@alexiskyriakou , good to know. Closing this issue now.

[2020-11-24 16:19] #34 closed

[2020-11-30 09:57] bbinet commented on #11
@shahpiyushv I've noticed that the [esp_local_control feature of esp-idf has now been implemented into RainMaker](https://github.com/espressif/esp-rainmaker/commit/892e61b32f1051cc79d76061adc3f20f8e0b17de) so that control would be possible from phones in the same local network, this is great, thank you!

Do you know if it is planned to also support BLE transport for esp_local_control in Rainmaker?

[2020-11-30 10:19] shahpiyushv commented on #11
@bbinet , it is indeed planned, but it may be taken up later as we are are working on some other features right now.

[2020-11-30 17:02] bbinet commented on #11
Great, thank you.

[2020-12-07 14:43] kebiromar opened #36 "local control with multiple wifi access point network !! (MEGH-1573)"
hello I'm working with esp rainmaker and i tested the new feature " local control " and i find something weird.
when the phone and the esp device are connected to  the same WiFi access point the app can discover the esp device.
but when i connect the phone app to different access point but in the same local network the phone app can't reach anymore the esp device.

i don't now if can call this an

[2020-12-07 15:39] shahpiyushv commented on #36
@kebiromar , it actually depends on your Wi-Fi access point settings. The local control feature uses mDNS for device discovery. If your access points are part of a common subnet and allow multicast UDP packets to flow across networks, then the devices should be discoverable. Can you double check?

[2020-12-09 18:31] iz0eyj opened #37 "Alexa skill in Italy (MEGH-1585)"
Hi guys,
first of all congratulations for the fantastic job you are doing.
Please note that the Alexa skill is not available in Italy, which makes it a bit problematic to use this system outside of simple tests.
Would it be possible to solve the problem?

 Thanks, Federico

[2020-12-09 18:36] shahpiyushv commented on #37
@iz0eyj, thanks for reporting this. We will check and get this resolved as soon as possible.

[2020-12-09 19:20] iz0eyj commented on #37
Thanks @shahpiyushv , if you need help translating the skill into Italian (I don't think it's mandatory), just ask.

[2020-12-10 12:32] iz0eyj commented on #28
Forgive me if I intrude on your discussion.
Unlike commercial IoT components, this very important Espressif initiative gives us the opportunity to create objects designed specifically for our automation needs (often only approximable with what is available on the market).
However, the approach should be different, let's say opposite, to that normally followed in the IoT, and this EXACTLY because t

[2020-12-10 12:44] NemesisXB commented on #28
I think you picked the wrong issue to piggyback on. This is not a limitation by espressif/rainmaker. Alexa only supports a handful of types. This issue was raised because both alexa and rainmaker supports temperature types, but even though creating a temperature type in rainmaker, it did not show up in alexa. As far as I understand, none of the types you mentioned is supported by Alexa.

[2020-12-10 13:09] shahpiyushv commented on #28
@iz0eyj , as @NemesisXB mentioned, this is a somewhat different requirement and would need a separate thread. However, we indeed have added support for the generic Toggle and Range Controllers that Alexa supports and it should be available soon.

[2020-12-10 13:10] iz0eyj opened #38 "Suggerimento, dispositivi virtuali"
I am fortunate to have an extremely extensive home automation system, probably one of the most complete in my country (Italy), and for this reason I realize the extreme importance of RainMaker.
 Implementing a pervasive home automation using standard components is not possible;  you can reach a good approximation of what you want but without the possibility of writing custom code INSIDE the single

[2020-12-10 13:21] iz0eyj commented on #28
@shahpiyushv I opened the thread.
@NemesisXB in home automation, what is implemented at the component level and Alexa management are different levels, with different degrees of abstraction from the real hardware and different support needs.
 Alexa (or G Assistant) can do few things through their Routines, but since they are ultimately simple macros, in practice they are very useful voice interface

[2020-12-17 09:14] victorK8 opened #39 "[Check node error] API Defintions for Rainmaker Backend Service (MEGH-1598)"
Hi,

I'm developing my own web service based on ESP Rainmaker API. I'm with Swagger API, Version 1 (v1)
The next link shows info. about API: https://swaggerapis.rainmaker.espressif.com/#/

I can login and keep active the login without problems. Next lines show url and succesful logs.

**URL**:
 _https://api.rainmaker.espressif.com/v1/login_

**LOGS**:
        _{
          "status": "success",

[2020-12-17 12:13] dattatrayhkulkarni-espressif commented on #39
Hi Victor,

The Get Node Parameters API is an authenticated API.
After you successfully login, you will get the accesstoken in the response.

For calling the Rainmaker authenticated APIs, you will need to pass this access token as the Authorization  parameter in the HTTP header.

e.g. if you are using Postman as the REST client, you will need to populate the value of Access token in the Authorizat

[2020-12-17 14:09] victorK8 commented on #39
Hi dattatray,

I have added Access Token Value to headers in GET request and it is working.

Thank dattatray!

Regards,
Victor

[2020-12-17 14:09] #39 closed

[2020-12-17 14:23] bbinet commented on #39
Hey @victorK8, I'm also interested in an opensource implementation of the rainmaker backend API.
I have planned to work on this, but I haven't found the time to start it yet.

Do you envision to release your implementation of these webservices as opensource software? I may give a hand depending on the language and technologies you've chosen.

[2020-12-17 21:45] victorK8 commented on #39
Hi @bbinet ,

I can't share the code of application because it's for a service from a business. Only I can share that is for an Alexa Skill and it will be developed in Javascript.

Regards

Victor

[2020-12-18 08:28] bbinet commented on #39
Ok no problem @victorK8

[2020-12-22 17:59] shahpiyushv commented on #38
@iz0eyj , sorry for the late reply. If my understanding is correct, you are looking for a network of smart home devices (ESP32s in this case) which operate independently of other clients like phone apps or hubs, right? Simplest example I can think of is an ESP32 based motion sensor turning on a light directly. Going further, these could be virtual devices (as you are proposing), wherein say an ESP

[2020-12-31 10:00] bbinet opened #40 "Question: what is the `sec_cert` partition (type=0x3F) (MEGH-1665)"
I see the following line in `partitions.csv`:
[code]
So what is this `sec_cert` partition?

[2020-12-31 10:01] bbinet commented on #40
And can we safely remove this partition?

[2020-12-31 16:27] shahpiyushv commented on #40
@bbinet That's there to keep it compatible with some of our other services. It isn't being used anywhere in RainMaker though, and you may remove it.

[2021-01-04 08:43] bbinet commented on #40
@shahpiyushv Ok, thank you

[2021-01-04 08:43] #40 closed

[2021-01-04 10:53] iz0eyj commented on #38
Exactly.  When dealing with an extended IoT, one needs to write asynchronous code, i.e. code in which the occurrence of an event differs temporally from its use.  In addition, it is necessary to maintain a state memory relating to the whole of the controlled system.  For example, my home automation behaves differently when I am / I am not at home, and the sequence of events implemented will also b

[2021-01-04 12:49] iz0eyj commented on #37
@shahpiyushv hi, still disabled for our country.

![Screenshot_20210104-134705](https://user-images.githubusercontent.com/6331284/103536933-a9bfa400-4e93-11eb-99a2-ad929c29fce1.jpg)

[2021-01-04 12:53] iz0eyj commented on #37
![Uploading Screenshot_20210104-135143.jpg…]()

[2021-01-04 12:55] iz0eyj commented on #37
@shahpiyushv Hello, still unaivalable in our country.

![Screenshot_20210104-135143](https://user-images.githubusercontent.com/6331284/103537285-716c9580-4e94-11eb-8f91-ff868bc93323.jpg)

[2021-01-07 14:47] noobGB opened #41 "Shows [device connection failed] after QR code scan. (MEGH-1687)"
Hi,
I am using ESP32, tried FAN and SWITCH example but not able to complete claiming and provisioning step, please check below snapshots, please help me with possible issue here.

Below snapshot shows successful flashing of ESP32 on assisted claiming mode.
![image](https://user-images.githubusercontent.com/19291539/103897416-8b6ada00-5119-11eb-8fcf-0846e043b9b4.png)

Below shows error on QR code s

[2021-01-07 15:29] shahpiyushv commented on #41
@noobGB , what is your phone app version? Some BLE provisioning related issues were fixed in version 2.2.2.

[2021-01-07 15:46] noobGB commented on #41
Hi Piyush,

App version is v2.2.2, Strange thing is that I was successfully able to add this ESP32 hardware as SWITCH node yesterday then I deleted the node from app just to check FAN example from the same hardware but now I am facing this issue for both FAN and SWITCH example. Does factory reset create some issue as I have tried that as well. Please let me know if you need some more info.

[2021-01-07 17:41] shahpiyushv commented on #41
@noobGB , none of the events like reboot, reset to factory or erase flash should affect the provisioning. Changing the device type also should not matter as the device type comes into picture after provisioning, not before that. The issue of BLE provisioning failing after a reset to factory was exactly what we had fixed in v2.2.2 of the Android app and I just verified that it is working as expecte

[2021-01-07 18:03] noobGB commented on #41
@shahpiyushv , now I tried host driven claiming and then changed the configuration to use softAP instead of BLE for provisioning, now the FAN type node has been added to my user account.
BLE method did not work even after many attempts, will appreciate your response on this after discussion with the android developer.

[2021-01-08 04:56] khushbushah2302 commented on #41
Hi @noobGB ,
From screenshot, it seems like BLE device is disconnecting. I will need android app logs to check this issue.
Can you share android logs ?

[2021-01-08 09:22] noobGB commented on #41
@khushbushah2302 ,  I figured out that the issue is my system(MOTO G5S PLUS, Android V8.1.0) but this BLE Claim and provisioning for ESP32 worked flawlessly for REDMI 7 Pro (Android V9) and Moto G6(Android V9).
I have installed adb logcat android platform tools, will provide log details if you let me know the adb filtered logcat command for ESP rainmaker logs.

[2021-01-09 21:06] moosakhalid opened #42 "Unable to WiFi provision - WiFi not showing"
Hi Team,
I'm new to the AWS EduKit. I've been following this tutorial:

https://edukit.workshop.aws/en/getting-started/run-rainmaker.html

Everything goes smooth, until I download the ESP Rainmaker phone app, register an account and try to scan the QR code. The QR code is proper.
The QR scanner picks up the code but displays an error : "PROV_xxxxxx device not found"

The device does not broadcast

[2021-01-11 08:59] shahpiyushv commented on #42
@moosakhalid , one small question, what is your phone side OS? If it is Android, we had fixed some BLE provisioning related issues in version 2.2.2. Can you check what your version is?

Moreover, can you enable additional debugging logs on the firmware side from here and retry?

`idf.py menuconfig -> Component config -> Log output -> Default log verbosity -> Debug`

[2021-01-11 10:32] khushbushah2302 commented on #41
Hi @noobGB ,

Here are the few steps to take logs.
1) Connect the device and open ESP RaiMaker.
2) Clear old logs with `adb logcat -c`
3) Run "`adb shell pidof com.espressif.rainmaker`" command to get pid of ESP RainMaker app .
4) Then, run `adb shell "logcat --pid=12345"` command by replacing 12345 with your pid number (result of first command).

[2021-01-12 14:34] noobGB commented on #41
@khushbushah2302 , Please check attached log file.

[ESPrainmaker Android logs.txt](https://github.com/espressif/esp-rainmaker/files/5802753/ESPrainmaker.Android.logs.txt)

[2021-01-12 16:28] shahpiyushv commented on #27
@wanglemao , sorry for the very late reply. There are no plans of integrating this with esp-mdf as of now, but we may try to integrate this with [esp-mesh](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/mesh.html). But even that is not planned for the immediate future as of now.

[2021-01-12 16:29] shahpiyushv commented on #36
@kebiromar , closing this issue as there hasn't been any feedback. If you are still facing the issue, please feel free to reopen.

[2021-01-12 16:29] #36 closed

[2021-01-13 06:00] moosakhalid commented on #42
Hi @shahpiyushv !
Thanks for your response. My Phone's Android version is 10 with kernel 4.14. 117-perf+.

I'm actually flashing the firmware onto the device using PlatformIO extension on Visual Studio Code, so I don't have much idea about using CLI commands for enabling debugging. Also I can't find any idf.py file in the project, perhaps I'm missing it.
Are there any helpful instructions on enabl

[2021-01-13 06:23] shahpiyushv commented on #42
@moosakhalid , I have not use the VS code + PlatformIO based development setup, but can you check the documentation for menuconfig [here](https://docs.platformio.org/en/latest/frameworks/espidf.html#configuration-for-4-0). That should give you similar options like I have mentioned above.

[2021-01-13 10:35] khushbushah2302 commented on #41
Hi @noobGB ,

Thanks for sharing logs.
I have also MOTO G5S PLUS, Android V8.1.0. Tried on that but app is working fine.
Can you try provisioning device with [ESP BLE ProvisioningApp](https://play.google.com/store/apps/details?id=com.espressif.provble) ?
This app will do only provisioning. I wanted to check if this app is working fine or not with your phone.

[2021-01-13 10:50] noobGB commented on #41
@khushbushah2302 , tried this app provisioning method, both QR code and manual, shows [Device Disconnected] after the scan. Let me know the logcat commands for this app, I will share log details.

[2021-01-13 14:09] wmantillar opened #43 "Rainmaker when WiFi is not available"
Hi Team;

I'm new with esp32 but really exited about all possibilities it offers fot IoT Devs, I am using rainmaker for some developments and works great, nevertheless I have an application for a device that need to work in the field where not WiFi is available, so I wonder if there a way to use cellular connection instead (i.e. using # PPP over Serial (PPPoS) client example thought SIM800L or sim

[2021-01-15 11:56] shahpiyushv commented on #37
@iz0eyj , we are almost done with support for additional languages as well as support for some additional device categories. Once the skill re-certification is done, I will give an update here. Thanks for your patience!

[2021-01-17 15:34] noobGB commented on #41
@khushbushah2302 , any solution??

[2021-01-17 16:32] iz0eyj commented on #37
Thanks @shahpiyushv

[2021-01-18 05:22] khushbushah2302 commented on #41
Hi @noobGB ,

Download [ESP_Prov_BLE.zip](https://github.com/espressif/esp-rainmaker/files/5827991/ESP_Prov_BLE.zip). It contains 2 apks for try.
Install apk and test it in all 3 phones you have.
Let me know the result for both apps.
If any of app will work then we can give app update.

[2021-01-18 05:28] shahpiyushv commented on #25
Closing this issue as it has been addressed.

[2021-01-18 05:28] #25 closed

[2021-01-18 12:53] noobGB commented on #41
@khushbushah2302 , Unfortunately non of the apps worked on my MOTO G5S PLUS, I haven't yet tested these APK files on other phones (REDMI 7 Pro (Android V9) and Moto G6(Android V9)) as ESPrainmaker's Provisioning works flawlessly on these phones.

[2021-01-19 06:38] daluge opened #44 "Relationship about Espressif Cloud Service and Azure Cloud (MEGH-1745)"
Device report data to azure mqtt cloud,  but app device control use cloud service of Espressif? How about their relationship? My team plan to do a wifi dongle to get some products connected to alexa audio. Now, i wonder the bearing and concurrency capability of cloud service of Espressif...

[2021-01-19 13:40] khushbushah2302 commented on #41
Hi @noobGB ,

Thanks for testing the apps.
No need to check in other phones if app has not worked on Moto G5S Plus phone. It is only needed if any of app has worked on Moto G5S phone.
To debug this issue on your phone, I will need your help. I would like to check with "nRF Connect" app.
Here are the steps:
1. Install ["nRF Connect for Mobile"](https://play.google.com/store/apps/details?id=no.nordi

[2021-01-19 14:05] noobGB commented on #41
@khushbushah2302 , after {connect}, it does not show anything under {client} tab. Please check snapshots.
![Screenshot_20210119-192706.png](https://user-images.githubusercontent.com/19291539/105045033-6f5a2780-5a8d-11eb-8a45-ef3844f2d586.png)
![Screenshot_20210119-192929.png](https://user-images.githubusercontent.com/19291539/105045073-7da84380-5a8d-11eb-8e65-ce3844684f10.png)

[2021-01-19 15:09] noobGB commented on #41
@khushbushah2302 , Don't know exactly what happened here but on above screenshot you could see that the prov device already shows bonded then I use the [Delete bond information] from the nrf connect app. After that ESPrainmaker apps provisioning and claiming process is working fine. I have tried hard reset, wifi reset, erase_flash, all seems to be working fine now on my MOTO G5S PLUS. You may expl

[2021-01-20 17:18] shahpiyushv commented on #44
@daluge, the query isn't really clear to me. Do you mean to say that your device is using azure IoT and you want to interface it with ESP RainMaker? If that is not the case, can you elaborate more on the requirement here?

[2021-01-21 16:14] iz0eyj commented on #44
@shahpiyushv I think he is asking if the servers on which the service is based are on Azure and, if so, what relationship there are between Espressif and Microsoft.

[2021-01-21 18:23] shahpiyushv commented on #44
@iz0eyj , thanks for helping out here. @daluge , ESP RainMaker is deployed on Amazon Web Services (AWS) using various serverless components. The devices connect to the AWS IoT Core service (which is an MQTT broker) whereas clients like phone apps communicate over REST APIS via the AWS API Gateway service. There are many other AWS services involved which tie all of this together. If you want to kno

[2021-01-22 07:33] daluge commented on #44
@shahpiyushv  thanks for answer!!! sorry for my error despcription before, it's amazon cloud, not azure cloud... and blog post do help me.

[2021-01-22 13:43] shahpiyushv commented on #44
@daluge , closing this issue since I guess your query has been answered. Please feel free to ask any more questions you may have.

[2021-01-22 13:43] #44 closed

[2021-01-22 16:06] shahpiyushv commented on #43
@wmantillar , sorry for the late reply. Have you checked [this esp-idf example](https://github.com/espressif/esp-idf/tree/master/examples/protocols/pppos_client)? If it suits your requirement, it may be possible to integrate it with RainMaker. Ofcourse, there could be some challenges, but worth checking out.

[2021-01-22 17:33] wmantillar commented on #43
@shahpiyushv thank you for your answer, I saw that example, actually my question was aimed at finding out whether or not I have a chance of succeeding trying to integrate that example into Rain Maker or if there is some structural constraint in the Rainmaker stack that will not allow it to do so.  Would you encourage me to explore it?

[2021-01-25 02:22] daluge commented on #44
@shahpiyushv  thanks!

[2021-01-25 07:36] daluge opened #45 "How to combine ESP32-Rainmaker and ESP32-ADF?"
ESP32-ADF use idf version v3.3.2, but ESP32-Rainmaker usb idf version v4.xx.
I checkout higher version of idf for ESP32-ADF, it compile fail.
Then I also checkout lower version(v3.3.2) for ESP32-Rainmaker, it compile fail too.
My project may need to play mp3 or tone except interaction through amazon alexa using ESP32-Rainmaker.

[2021-01-25 07:48] shahpiyushv commented on #45
@daluge , can you please refer to [this issue](https://github.com/espressif/esp-adf/issues/563) in esp-adf and see if it helps?

[2021-01-26 02:49] daluge commented on #45
@shahpiyushv thx. I rewrite CMakeLists.txt in esp-adf directory that use the same idf as esp-rainmaker use, and now it succeed to compile for a project in esp-adf.
However, i still bother how to use a project in esp-adf as main project, and use esp-rainmaker as component?
I tryed to rewrite CMakeList.txt in project "play_mp3", but when i invoke function in esp_rainmaker, then it failed to compile.

[2021-01-26 09:42] daluge commented on #45
I have succeed to compile and run the project with adf and rainmaker.
let me do more test and functions ...

[2021-01-28 04:13] shahpiyushv commented on #37
@iz0eyj, the skill should now be available in your region and language. Can you check?

[2021-02-02 00:08] #27 closed

[2021-02-02 07:47] khushbushah2302 commented on #41
Hi @noobGB ,

Sorry for late reply. Deleting bond information is like unpairing the device.
Another app is also not able to discover services after device connection and both apps works fine after deleting bond information. So it could be some issue with the BT stack of Android, but I can't be 100% sure.

[2021-02-02 07:56] noobGB commented on #41
@khushbushah2302 ,

It is strange, as I was able to connect with my Bluetooth speaker even before deleting the bond information. We can consider this issue as resolved for now, will open new issue if somewhat similar issue re-occurs on some other device or android version, thank you for your help and support.

[2021-02-02 07:59] noobGB commented on #41
@khushbushah2302  or @shahpiyushv , could you please check my comment on this [https://medium.com/the-esp-journal/introducing-esp-rainmaker-8fa968bbb2de] medium article by Kedar, I have asked few commercial questions but did not receive any response.
Please let me know the right channel to ask such questions or directly respond there.

[2021-02-02 08:30] kedars commented on #41
@noobGB I have responded to your query on the medium article, possibly you missed it, you can check the response here: https://medium.com/p/8fa968bbb2de/info

[2021-02-02 08:38] noobGB commented on #41
Hi @kedars , I cannot access above provided link, please check.

![image](https://user-images.githubusercontent.com/19291539/106573764-0cbe5c80-6560-11eb-84a7-e8d845f34a2e.png)

[2021-02-02 08:41] kedars commented on #41
try this one: https://medium.com/@gaurav.gbaba/hi-kedar-da3bfb61ee26#--responses

clients on 'response' icon at the bottom of your post

[2021-02-02 08:42] noobGB commented on #41
Got it, thank you!!

[2021-02-03 06:10] shahpiyushv commented on #41
Closing this issue as both threads here seem to be resolved.

[2021-02-03 06:10] #41 closed

[2021-02-04 03:20] daluge commented on #45
1. sdk change:
   perpare esp-adf with the latest version.
   perpare esp-rainmaker with the latest version.
   perpare esp-idf, change its version to v4.1.
   modify file "esp-adf/CMakeLists.txt", change IDF_PATH -> set(ENV{IDF_PATH} "$ENV{esp-idf}/")
   cuz esp-adf has its own esp-idf which version is v3.3.2, and for convinence to use 2 sdk, here i use esp-idf outside.

2. check an example in es

[2021-02-13 07:36] ilijamr opened #46 "Cannot complete Provisioning (MEGH-1837)"
ESP-IDF is 4.4-dev, Andriod App, all downloaded on Feb 12, 2021 developing for esp32s2.

Provisioning:
1. Sending WIFI credentials (OK)
2. Configuring WIFI connection (!)
3. Configuring User-Node association (OK)
4. Confirming User-Node association (X)

Log debug info:

D (156403) wifi_prov_handlers: Wi-Fi Credentials Applied[0m
D (156413) httpd_txrx: httpd_send_all: sent = 61[0m
D (156413) http

[2021-02-13 07:45] ilijamr commented on #46
Connecting - disconnecting from AP all the time (7m distance from AP, no obstacles, pcb antenna on esp32s2).

D (23293) esp_netif_lwip: esp_netif_update_default_netif_lwip 0x3ffd64b4
D (23293) esp_netif_lwip: call api in lwip: ret=0x0, give sem
D (25283) event: running post WIFI_EVENT:5 with handler 0x40089f88 and context 0x3ffd6450 on loop 0x3ffd54a8
I (25283) app_wifi: Disconnected. Connecting t

[2021-02-14 11:26] ilijamr commented on #46
Provisioning - Confirming WIFI connection cannot be completed, debug log:

D (400223) httpd_txrx: httpd_recv_with_opt: received length = 44
D (400233) httpd_parse: read_block: received HTTP request block size = 44
D (400243) httpd_parse: cb_header_field: processing field = cept-Encoding
D (400243) httpd_parse: cb_header_value: processing value = gzip
D (400253) httpd_parse: cb_header_field: proces

[2021-02-14 16:08] ilijamr commented on #46
I would highly recommend using external antenna :)

[2021-02-14 16:08] #46 closed

[2021-02-16 18:31] ilijamr opened #47 "Enhancement proposal (Switch - Socket, Door, Humidity, etc) Icons in phone Apps"
Beside this:
https://github.com/espressif/esp-rainmaker/issues/7
there should be a permanent switch UI element whilst current switch element should be renamed to a socket or wall socket.
Door UI element should have Open-Closed and Battery state.
Humidity UI element should have Relative Humidity in percentage.
In addition, just to name a few more useful UI elements:
CO, CO2, water leak, shock, sens

[2021-02-16 18:48] shahpiyushv commented on #47
@ilijamr , thanks for your suggestions. These would definitely be useful. We will take up this task as soon as we finish off with the current pending features.

[2021-02-18 15:57] alexiskyriakou opened #48 "how to combine ESP-IDF with ESP Rainmaker components (MEGH-1856)"
Hello,

does anyone knows how can i combine ESP-idf and ESP Rainmaker components?

i had open GPIO example from Rainmaker directory  and add in c_cpp_properties.json the following:

    "configurations": [
        {
            "name": "Win32",
            "includePath": [
                "${workspaceFolder}/**",
                "${env:IDF_PATH}/components/**",
                "C:/Users/Alexis/esp

[2021-02-18 17:55] ameyinamdar commented on #48
Hi @alexiskyriakou You don't need to change any file. Once the IDF is configured properly in Espressif VS Code plugin, you can simply open any of the application in esp-rainmaker/examples/ folder and directly compile through VS Code plugin. The asp-rainmaker components are added by the application's CMakelist.txt and other IDF components are added by IDF build system.

[2021-02-18 18:40] alexiskyriakou commented on #48
I believe that idf configured correct in VS code because i can open, bulid and flash examples under esp-idf.

But when i open an example from esp rainmaker, VScode does not recognize the include files..

Both esp-idf and esp rainmaker are in the same folder like:
 esp -> esp-idf
        -> esp-rainmaker

[2021-02-19 04:42] ameyinamdar commented on #48
@alexiskyriakou VSCode not recognising the include files is probably just navigation issue. Can you compile the rainmaker example in this configuration? If not, can you please provide the log?

[2021-02-19 06:49] alexiskyriakou commented on #48
No i can not compile.

Here is the log file for Fan Example [CMakeOutput.log](https://github.com/espressif/esp-rainmaker/files/6008125/CMakeOutput.log)

[2021-02-21 20:40] alexiskyriakou commented on #48
Finally i fixed it... I clone the esp rainmaker repository and now builds flash and monitor rainmaker examples...

[2021-02-22 12:32] jberezin commented on #47
In the case of water leak and other sensors, it would be nice if third party integration supported alarms for conditions such as water leak or temperature outside of range for the Alexa echo to say "water leak in basement!" without needing a voice prompt.

[2021-02-22 14:53] alexiskyriakou commented on #48
i have one more question...

I create a project under EspRainmaker directory and works fine. My question is which is the proper way to move that project under Documents folders ? I want to do this because my Documents folder is sync to cloud for backup purposes

Thank you in advance

[2021-02-22 16:11] ameyinamdar commented on #48
You need to copy components/ folder from asp-rainmaker and adjust relative paths in application's CMakeLists.txt

[code]

[2021-02-23 15:05] daniel-frenkel commented on #7
I agree, this is the most basic UI element and is very much needed. Please add. Thank you

[2021-02-24 17:59] alexiskyriakou commented on #48
Thanks @ameyinamdar its woking now.

[2021-02-24 17:59] #48 closed

[2021-02-26 00:30] jjsch-dev opened #49 "CONFIG_WS2812_LED_ENABLE (MEGH-1891)"
When I compiled the example for an ESP32-C3 the led did not work, and the log shows: W (345) ws2812_led: WS2812 LED is disabled. Reviewing the driver code ws2812_led.c requires the CONFIG_WS2812_LED_ENABLE macro to be defined. How is this module activated in the configuration?

[2021-02-26 01:14] jjsch-dev commented on #49
In order for the configuration menu to be included with the esp32-c3 mini development kit, the kconfig file of the ws2812_led the rain-maker module must be changed to:

menu "WS2812 RGB LED"
    visible if (IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3)

    config WS2812_LED_ENABLE
        bool "Enable RGB LED"
        depends on (IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3)
        default y
        hel

[2021-02-26 01:15] #49 closed

[2021-02-27 04:35] wmantillar opened #50 "Sharing nodes using API or CLI is not working any more (MEGH-1892)"
Dear Team;

I am using rainmaker APIs for a development, but until some time ago I could share my nodes just using "PUT​/{version}​/user​/nodes​/sharing" and putting the email of the user to share to, nevertheless I cannot do that any more, even when I see "success" it returns the following message, but the other user is not able to see the nodes, seems like it only creates a request, but a new st

[2021-02-27 04:41] shahpiyushv commented on #50
@wmantillar, sorry for the inconvenience. The work flow for node sharing has been changed such that the secondary user needs to explicitly accept the request for the nodes to show up under his/her account. The CLI will be updated next week and this will soon be available in the phone apps as well.

[2021-02-27 04:52] wmantillar commented on #50
@shahpiyushv thankyou for the answer; can you please advise which API should I use in the secondary user to accept the request?

[2021-03-02 08:43] nell-du opened #51 "ESP32S2 Saola 1 refuses to get esp claim when running the switch example (MEGH-1896)"
## Board
ESP32S2 Saola 1

## ESP-IDF
Head of the repository

## ESP-RainMaker
Head of the repository with all the submodules updated to the latest

## Description
I was simply following the startup instructions for the rainmaker:
https://rainmaker.espressif.com/docs/get-started.html

Here is the log information:
I (87170) wifi:AP's beacon interval = 102400 us, DTIM period = 2
I (88620) app_wifi: C

[2021-03-02 17:46] shahpiyushv commented on #51
@nell-du , we have observed some DNS Issues for espressif.com since the last few hours and that could probably be the reason for this. Can you just try this again. Please also check if you can ping `esp-claiming.rainmaker.espressif.com` from a host machine connected to the same network.

[2021-03-02 22:43] Asteliks opened #52 "Feature request: over the air updates (MEGH-1904)"
Could you implement OTA to the examples?

[2021-03-03 06:01] nell-du commented on #51
Ya we did do so yesterday (the same day when I posted this issue) we were struggling to get rainmaker.espressif.com connected consistently. Dig also sometimes gave us results and sometimes didn't. The device just received the certificate. Thank you.

[2021-03-03 06:01] #51 closed

[2021-03-03 08:16] kedars commented on #52
This is already supported, please see details here: https://rainmaker.espressif.com/docs/ota.html

[2021-03-03 08:25] Asteliks commented on #52
O thanks! Didn't see that

[2021-03-03 08:25] #52 closed

[2021-03-03 17:43] JohnMacrae opened #53 "Multi-Device Example crash on posting temperature data (MEGH-1907)"
ESP32-S2

To reproduce:
Compile example and upload.

Wait for Temperature to be updated

Log:

I (32458) esp_rmaker_time: The current time is: Thu Mar  4 01:40:12 2021 +0800[CST], DST: No.
I (60508) esp_rmaker_param: Reporting params: {"Temperature Sensor":{"Temperature":25.50000}}
E (65498) task_wdt: Task watchdog got triggered. The following tasks did not reset the watchdog in time:
E (65498) ta

[2021-03-04 06:23] JohnMacrae commented on #53
I decided to do some further testing and this problem is only on ESP32S2. On the C3, it runs well.

[2021-03-04 06:25] shahpiyushv commented on #37
Closing this issue since this has been resolved. Do let us know if you are still facing the problem.

[2021-03-04 06:25] #37 closed

[2021-03-12 14:54] alexiskyriakou opened #54 "Questions : About time zone and temperature value (MEGH-1953)"
Hello guys,

According to the title i would like to ask how can i set the time and time zone with the mobile phone to get the local time automatically?

And how can i make the value of temperature to be only an integer value, just 22, not a float like in the picture below?

![Screenshot_20210312_163743](https://user-images.githubusercontent.com/30683078/110956628-7e55ab80-8353-11eb-9f19-adcc555871

[2021-03-12 16:33] shahpiyushv commented on #54
@alexiskyriakou , for timezone, please check out the docs [here](https://rainmaker.espressif.com/docs/time-service.html). The simplest option is to set the timezone using the `CONFIG_ESP_RMAKER_DEF_TIMEZONE` config option. Going ahead, the phone apps will allow setting the timezone by using the [timezone service](https://rainmaker.espressif.com/docs/time-service.html#rainmaker-service).

WIth rega

[2021-03-12 19:26] jjsch-dev opened #55 "warning: passing argument 3 of 'esp_event_handler_register' from incompatible pointer type (MEGH-1954)"
The previous warning is generated in a compilation for esp32-c3, my solution was to cast a void *:
esp_event_handler_unregister (WIFI_PROV_EVENT, WIFI_PROV_INIT, (void*) &event_handler);

[2021-03-15 07:44] #55 closed

[2021-03-15 07:54] shahpiyushv commented on #55
@jjsch-dev , the warnings have been fixed.

[2021-03-15 13:58] Asteliks opened #56 "Is there a way to preset temperature and humidity for climate control? (MEGH-1956)"
Basically as stated in the title. I want to make an ESP32 based climate control device that controls a heater and a humidifier with a PID algorithm. The question is dose rainmaker support inputting humidity and temperature values?

[2021-03-16 08:13] kedars commented on #56
Yes, you can add humidity and temperature parameters in the RainMaker's data model. [This](https://github.com/espressif/esp-rainmaker/blob/master/examples/switch/main/app_main.c#L151) is how you can add parameters to your device.

[2021-03-18 06:28] Satyam-code143 commented on #9
@amoghpalnitkar , @jwktje   Hey, just wanted to know how more days might it take to complete `react-native-esp-idf-provisioning` package. I would like to help, but I am not much familiar with any of the package development. I might need some guidance  for contributing.
Thank You!!

[2021-03-18 19:29] shahpiyushv commented on #28
@NemesisXB Temperature sensor is now supported in the Alexa Skill. Please check. Closing this issue now.

[2021-03-18 19:29] #28 closed

[2021-03-22 12:11] Asteliks commented on #56
Thanks didn't see that

[2021-03-22 21:12] Maldus512 opened #58 "Adding an option to bypass WiFi"
I am developing a solution that can use either WiFi or Ethernet connectivity. Unfortunately the rainmaker main task is dependent on WiFi connection and waits for one before doing anything (https://github.com/espressif/esp-rainmaker/blob/37b6a24dfa22303dcf591c121d95ae80af0bb1ef/components/esp_rainmaker/src/core/esp_rmaker_core.c#L243).
For now I'll probably add some workaround in a fork, but I thin

[2021-03-23 13:49] alexiskyriakou commented on #54
Hello @shahpiyushv and sorry for the late reply.

I know that is easier to set the time zone in _CONFIG_ESP_RMAKER_DEF_TIMEZONE_ but if I want to get the time zone from phone app how can I perform that? where can I find any example/instructions on how to use the _esp_rmaker_timezone_service_enable(void);_ ?

Thank you

[2021-03-27 01:02] Asteliks commented on #56
I've tried reusing the code you've mentioned but there is no easy value input in the rainmaker app. TBH the temperature value is stuck at the default value and there is no changing of it. I've also tried going through the documentation several times but no luck there. Basically I need a simple parameter that will allow me to input the wanted temperatura and humidity values

[2021-03-30 18:54] shahpiyushv commented on #58
Adding link to the [forum post](https://www.esp32.com/viewtopic.php?f=41&t=19742&sid=3263f6e6220364e72d37e1833cc259b8) for some context. Also copying the relevant comment here:

*At the specification level, [user node mapping](https://rainmaker.espressif.com/docs/user-node-mapping.html) is independent of Wi-Fi provisioning. The [esp_rmaker_start_user_node_mapping()](https://docs.espressif.com/proj

[2021-03-31 08:30] kedars commented on #56
The temperature sensor, being a sensor, the value is read-only from the phone-app, but modifiable from the device. I am not sure what exactly you are looking for, one of the following options?
* In case you want a read-write temperature value (like a target temperature), that can be modified from the phone app, then you can add an integer parameter that is read-write. You can refer to this: https:

[2021-04-03 10:29] aca18mj commented on #7
Is there a way to add custom UI elements or are we stuck with only 3 (text, switch, slider)?

[2021-04-05 17:14] shahpiyushv commented on #7
@aca18mj we will keep on adding new UI elements (though I admit that there aren't many options as of now), but if by "custom" you mean something that the app itself does not support by default, then you can make the changes in the source code itself and rebuild the app. Ofcourse, we would try to add more and more options ourselves after we flush out the current tasks in the pipeline. You may also

[2021-04-05 17:16] shahpiyushv commented on #54
@alexiskyriakou , sorry for the late reply. Somehow, I missed this comment. Details of the `esp_rmaker_timezone_service_enable()` API can be found [here](https://rainmaker.espressif.com/docs/time-service.html#rainmaker-service). However, this is not enabled in the phone apps yet and can be used only from the RainMaker CLI.

[2021-04-06 12:58] alexiskyriakou commented on #54
@shahpiyushv thank you

[2021-04-08 14:01] shahpiyushv commented on #53
@JohnMacrae , some fixes related to this were made in [this MR](https://github.com/espressif/esp-rainmaker/commit/0fba68bbf7effefbc7f2348ce815a4b528f7a6f5). Can you confirm if it works for you?

[2021-04-08 14:03] shahpiyushv commented on #50
@wmantillar , the CLI has now been updated. Some information of the new node  sharing workflow can be found [here](https://rainmaker.espressif.com/docs/node-sharing.html#workflow). The [Swagger API documentation](https://swaggerapis.rainmaker.espressif.com/) has also been updated appropriately.

[2021-04-08 14:03] #50 closed

[2021-04-08 14:09] shahpiyushv commented on #43
@wmantillar , sorry I missed out on replying here. RainMaker primarily needs some Internet connection to work. The esp-idf  [pppos client example](https://github.com/espressif/esp-idf/tree/master/examples/protocols/pppos_client) I mentioned above helps create a network interface and so the higher layer application protocols should work seamlessly.

The other important aspect i.e. user node sharing

[2021-04-08 20:22] JohnMacrae commented on #53
@shahpiyushv many thanks for this MR. Seems to be working well on both S2 and C3 over the last few hours :)

[2021-04-08 20:22] #53 closed

[2021-04-09 15:37] JohnMacrae commented on #53
All running well - many thanks for this MR.

[2021-04-17 05:21] amoghjain1988 opened #62 "Store multiple SSID's"
Hello,

I was wondering if its possible to store multiple WiFi credentials(2-4 SSID's and Password combinations) in some sort of list and cycle through the list if the SSID is not in range/unavailable. One of our requirement involves providing access to multiple  users who will only have Hotspots with no central router/WiFi connection.

We just tested an ugly way (which is for each family member t

[2021-04-21 04:18] JohnMacrae opened #63 "Documentation Correction Request (MEGH-2072)"
https://rainmaker.espressif.com/docs/ota.html

Please amend the code reuired for OTA to include:

        .server_cert = ESP_RMAKER_OTA_DEFAULT_SERVER_CERT,

rather than the current:

     .server_cert = (char *)ota_server_cert,

which does not work (or should mention the use of the default server cert)

[2021-04-21 11:34] Maldus512 opened #64 "Buffer size 2048 not sufficient for node config (MEGH-2076)"
Hello,
During a device provisioning with the default IOS ESP-Rainmaker application I encountered an issue at the node association step. Once the device was connected to a WiFi network the association failed with the message in the title, printed by line https://github.com/espressif/esp-rainmaker/blob/ec23bd8aa6843966fd13e92940e41863779260d4/components/esp_rainmaker/src/core/esp_rmaker_node_config.

[2021-04-21 16:38] shahpiyushv commented on #64
@Maldus512 , if you use the multi_device example, and add any additional service, like say timezone service, the node config indeed goes beyond 2048. Something similar may have happened in your case.

[2021-04-21 18:51] JohnMacrae opened #65 "Impossible to delete first/last node (MEGH-2078)"
There seems to be no way of deleting the first node created on the dashboard.  Deleting from the phone app still leaves the node listed. There is no button on the dashboard to remove the last instance.

[2021-04-21 18:53] JohnMacrae opened #66 "Dashboard: Cannot delete OTA job once triggered (MEGH-2079)"
Is there a method to do this? Otherwise failed tests just leave a large list of unfulfilled jobs.

Thanks

[2021-04-22 07:15] Maldus512 commented on #64
Thank you, and sorry again for the fuzzy description. I'm not sure yet of what I could have added that makes the configuration bigger, but I'll be mindful of this possibility from now on.

[2021-04-22 07:15] #64 closed

[2021-04-22 18:38] shahpiyushv commented on #65
@JohnMacrae , the nodes you see on dashboard and the ones you see in the phone app are actually "admin" and "end user" views respectively. End user association can be removed, but the admin user association with a node id stays for lifetime. Please check out the docs here to understand these user-roles.

Note that if some other user claims the same node (basically the same mac address), a new node

[2021-04-22 18:40] shahpiyushv commented on #66
@JohnMacrae , this is actually on purpose, so that historical data does not get deleted inadvertently. However, we could still add an option to first "archive" a job and then allow deleting only archived jobs. This will help have a clean view of the jobs table, yet address the original problem I mentioned. We will take this up as an enhancement in future,

[2021-04-22 18:59] JohnMacrae commented on #66
Thanks @shahpiyushv :)

[2021-04-22 19:01] JohnMacrae commented on #65
OK - I understand - many thanks for explaining :)

[2021-05-08 12:44] alexiskyriakou opened #67 "Turning on a LED for factory_reset_indicate function (MEGH-2141)"
Hello guys,

I add an LED indicator, for visual purpose, when the "Release button to trigger factory reset." is show up in the serial monitor as below but nothing happens

[code]

The led is fully functional

The consept is give to users visualy the response when they must release the button

Any suggestion?

Thank you
Alexis

[2021-05-16 18:16] solroshan opened #68 "Need help to configure switch example with 2 channel relay (MEGH-2161)"
Hello esp lovers and those who give their hearts;

I'm trying to use rainmaker with;
2 channel relay module with 2 buttons,
DHT11 Temp&humy sensor,
Capacitive soil sensor,
and a Fan device.

First of all I tried to multiply switch example for 2 channel relay module but at last my phone app's 2 buttons controling both of relay channels at same time.
I did not try dht, hygro and fan devices yet but

[2021-05-17 10:59] shahpiyushv commented on #68
@solroshan

The reason for this lies in your write_cb. You have registered the same callback for both your switch devices and the write_cb isn't checking the device name to decide whether to  call `app_driver_set_water_state(val.val.b)` or `app_driver_set_light_state(val.val.b)`. You can check the below line in multi_device example as a reference for such checks:
 https://github.com/espressif/esp-

[2021-05-17 12:21] solroshan commented on #68
I'll make corrections immediately and I'll come back to share the main file of the 2ch relay (switch) that works as it should be under this issue topic.

Thanks for help @shahpiyushv

[2021-05-17 17:13] shahpiyushv commented on #67
@alexiskyriakou , I tried this attached patch on switch example and the LED connected to pin 16 indeed worked as expected, i.e. turned on to indicate that the button can now be released. Can you check it out?
[reset_led_patch.txt](https://github.com/espressif/esp-rainmaker/files/6495605/reset_led_patch.txt)

[2021-05-18 09:10] solroshan commented on #68
I fixed 2 ch relay part with @shahpiyushv precious helps and here my latest write_cb lines they are;

`

    //callback for ch1

    static esp_err_t ch1_write_cb(const esp_rmaker_device_t *ch1_device, const esp_rmaker_param_t *param,
            const esp_rmaker_param_val_t val, void *priv_data, esp_rmaker_write_ctx_t *ctx)
            {
    if (ctx) {
        ESP_LOGI(TAG, "Received write reques

[2021-05-18 09:13] #68 closed

[2021-05-18 09:34] shahpiyushv commented on #68
@solroshan , good to know that this is resolved. However, you can even have a common write callback and inside that, just check device name using `esp_rmaker_device_get_name()` to decide whether to call `app_driver_set_ch1_state()` or `app_driver_set_ch2_state()`.

[2021-05-19 07:25] shahpiyushv commented on #65
Closing this issue since it has been answered.

[2021-05-19 07:25] #65 closed

[2021-05-19 07:26] shahpiyushv commented on #63
Thanks for reporting. The docs are now corrected.

[2021-05-19 07:26] #63 closed

[2021-05-19 19:30] solroshan commented on #68
Thanks much @shahpiyushv 🤟🏿
Now I arranged them inside common write callback lines.

So would you suggest I focus on the [MCPWM BLDC control example](https://github.com/espressif/esp-afr-sdk/blob/6abb2ca3350d1f41659069239ed62811e466ffb1/examples/peripherals/mcpwm/mcpwm_bldc_control/main/mcpwm_bldc_control_hall_sensor_example.c) to be able to use the fan device(its 5v brushless mini fan device)
and

[2021-05-19 19:35] shahpiyushv commented on #68
@solroshan , frankly speaking, I am not much aware of the hardware interfacing or the pointers you shared. RainMaker itself is independent of the hardware/drivers. So, if the above can work fine for you with esp-idf, they should be good enough to integrate with RainMaker.

[2021-05-19 20:17] solroshan commented on #68
So, if the above can work fine for you with esp-idf, they should be good enough to integrate with RainMaker.

That sounds good @shahpiyushv and sir, I am grateful for your kindful helps. 🙌🏿

[2021-05-21 21:26] bbinet opened #70 "Feature request: schedule a light/deep sleep (MEGH-2200)"
It would be great if rainmaker could provide a way to schedule light or deep sleep to save energy.

We could for example ask a rainmaker device to sleep during a custom duration, or ask it to sleep until a custom wake-up date.

Would you plan to support such a feature, and if yes, what would be the ETA?

Thanks for this great framework!

[2021-05-23 17:21] JohnMacrae opened #72 "Feature Request: Notification UI Element (MEGH-2202)"
I believe it is important that we have a UI element to trigger notifications on the Android or IOS device with an appropriate API interface on the ESP32 side. Thank you for providing Rainmaker  - its a great base!

[2021-05-24 19:23] shahpiyushv commented on #72
@JohnMacrae , notifications is indeed in our near term plan and should be available in a month's time :)

[2021-05-24 19:24] JohnMacrae commented on #72
Awesome :) Thank you!

On Mon, 24 May 2021 at 20:23, Piyush Shah ***@***.***> wrote:

[2021-05-26 17:15] shahpiyushv commented on #70
@bbinet , this would be too specific. Would it rather be possible to create a parameter for that and use the current scheduling mechanism?

[2021-05-27 06:15] bbinet commented on #70
@shahpiyushv thank you for your answer.
Yes, you're right, I can create a dedicated parameter for that.

[2021-05-27 06:15] #70 closed

[2021-05-28 06:28] JohnMacrae opened #74 "Accesss to WiFi client"
It would be useful to have easy access to the wifi client so that other protocols might be used such as UDP or even another MQTT client.

[2021-05-28 18:23] JohnMacrae commented on #74
Sorry Piyush,

I envisage using the wifi connection (once the device has completed provisioning) to provide, for example an additional MQTT client so that a device can continue to log and report data locally while still maintaining a Rainmaker node for remote monitoring and control. So rather than replacing the existing RM MQTT and wifi client connection, I would look fo a safe way of adding an ad

[2021-06-02 17:32] solroshan commented on #42
Hi guys, not sure but I have a similar issue for WiFi provisioning from my angle.
Sorry if is not true space but my story was like that;
I could not find my saved qr code so i deleted the node from ios(v12.5.3) app and respawned my esp with factory reset for new qr code.
I've been working on analog calibrations with Rainmaker for a while. Everything was going on the way till I changed my city also

[2021-06-03 05:11] solroshan commented on #42
I fixed my provisioning with BLE provision but i wonder why qr code could not worked after factory reset. Is it an ios app side issue maybe like ios version? Because esp idf monitor did not show any warnings or errors while i tried to provision with qr code.

[2021-06-03 05:57] oksimple opened #76 "homekit_switch Please set HOMEKIT_PATH to esp-homekit-sdk repo (MEGH-2267)"
![image](https://user-images.githubusercontent.com/10106142/120594431-85ccb280-c473-11eb-9e9d-ff0f76791d32.png)

What is causing this problem?

[2021-06-03 13:23] shahpiyushv commented on #76
@oksimple Since you are trying to compile the homekit_switch example, you would indeed also require the [esp-homekit-sdk](https://github.com/espressif/esp-homekit-sdk) repo. Have you followed the instructions in this example's [README](https://github.com/espressif/esp-rainmaker/tree/master/examples/homekit_switch)?

[2021-06-03 13:47] oksimple commented on #76
@shahpiyushv Yes, I strictly follow the documentation to compile, and I can compile several other examples successfully, but the compilation of homekit_switch fails.

[2021-06-03 13:54] shahpiyushv commented on #76
@oksimple , none of the other examples require the esp-homekit-sdk, so they are expected to compile withoit requiring any additional setup. Have you explicitly followed these steps as per above mentioned [README](https://github.com/espressif/esp-rainmaker/blob/master/examples/homekit_switch/README.md)?

## Setup

Compiling this example would need the [esp-homekit-sdk](https://github.com/espressif/

[2021-06-03 13:59] oksimple commented on #76
@shahpiyushv  thank you for your answer, I will try it later, and finally, can I use esp-rainmaker commercially?

[2021-06-04 07:53] oksimple opened #77 "I want custom icons and the ability to push alerts"
There are many different smart products in our lives, not just switches, sockets, doors, lights, etc. There are many, many types of products and I would like to be able to customise the icons and the functions that they correspond to.

![image](https://user-images.githubusercontent.com/10106142/120766513-e2e86700-c54c-11eb-8c94-e336e1773f4d.png)

![image](https://user-images.githubusercontent.com/

[2021-06-13 14:45] adukale opened #78 "Pop contains invalid chars while provisioning in HomeKit Example (MEGH-2323)"
Development Kit: ESP32-DevKitC
Kit version (for WroverKit/PicoKit/DevKitC): DevKitv1
Module or chip used: ESP32-WROOM-32
IDF version (run git describe --tags to find it):
v4.2
Build System: idf.py
Compiler version (run xtensa-esp32-elf-gcc --version to find it):
8.4.0
Operating System: Windows
(Windows only) environment type: PowerShell
Using an IDE?: No
Power Supply: USB

Pop contains invalid cha

[2021-06-13 19:12] adukale opened #79 "Switch power state persist (MEGH-2324)"
I have modified esp_rmaker_standard_params.c with following code to add persist flag to power parameter:
[code]

But the same is not working. I have attached a relay to switch example GPIO, but after reboot power state is not retained.

Am I missing someadditional code?

Thanks is advance.

[2021-06-13 21:34] sebamsc opened #80 "Enhacement request: private data member (priv_data) in esp_rmaker_param struct"
Hi.
As described in the title, having a private data member, like the one in esp_rmaker_device struct, but in esp_rmaker_param will be useful, allowing developers to fit different needs. Just to mention some of them: store time since last value change, set threshold values that would require different actions, establish relations between parameters, and so on.

Adding that change from our side is

[2021-06-16 09:15] adukale opened #81 "Use input only pins 36, 39, 34 & 35 as iot_button (MEGH-2354)"
I am designing a circuit to use input only pins 36, 39, 34 & 35 as iot_button. But in the case of 36/39 I get below error in serial monitor once I flash:
[code]

Is there any way to use input only pins as iot_button with iot_button_create or some other way to use these input only GPIOs as buttons using custom declarations?

Thanks

[2021-06-16 09:26] shahpiyushv commented on #81
@adukale , before we even go further, can you tell me which chip/module/board you are using?

[2021-06-17 09:51] Deanzhang0526 opened #82 "Claim Verify Failed (MEGH-2358)"
The Rainmaker App stopped at Configuring Node association of provisioning, shows "Node addition not confimed"

And the log show below information:

I (61572) wifi_prov_mgr: Provisioning stopped
E (77672) esp_claim: Invalid response for https://esp-claiming.rainmaker.espressif.com/claim/verify
E (77672) esp_claim: Status = -1, Data = None
E (77672) esp_claim: Claim Verify Failed.
I (77672) app_main

[2021-06-17 09:58] shahpiyushv commented on #82
@Deanzhang0526 , do you get this error each time? If yes, can you follow the steps mentioned here in the [FAQs](https://rainmaker.espressif.com/docs/faqs.html#how-do-i-fix-the-claim-verify-failed-error-on-esp32-s2)?

[2021-06-17 10:51] shahpiyushv commented on #81
@adukale , from the log you shared above, it seems that your flash itself may be corrupted or incorrectly flashed, since the prints do not even show any boot data. Can you double check that first?

[2021-06-17 11:02] adukale commented on #81
@shahpiyushv I tried with erase_flash but the issue is same.
If I remove reference to pin 39 in iot_button_create then the issue is not occuring. The code works fine in that case.

[2021-06-17 11:40] solroshan commented on #79
Hey @adukale,

I did not work on this yet but i have similar trouble with power states after reboots. I'll back soon with my own solution if will not shared by rainmaker angels👾
UP

[2021-06-17 14:31] shahpiyushv commented on #79
@adukale , I tried this out with the switch example and this indeed works for me. Here is the patch, which is similar to yours

[code]

The log shows me this message when I add the power parameter to switch. "Init" basically means that the callback was called because of a value available in persistent storage (nvs).

[code]

However, I found that there is a bug which causes the callback to be miss

[2021-06-17 19:39] manbomb commented on #9
I'm making a module to react native, are you still willing to pay?

[2021-06-17 20:50] manbomb commented on #9
Look at the top post.

[2021-06-19 06:06] solroshan commented on #79
@shahpiyushv @adukale Hello guys,

This is my win10 based working tags;
**esp32-wroom-32
python 3.8.7
git 2.30.0
idf 4.2**

My idf prompt warned me for *power_param
[code]
and this is esp_rmaker_standard_params.c
[code]

and my esp info lines after flashed with this line;

I (16955) app_main: Received write request via : Local
I (16955) app_main: Received value = false for Light - Power
...
I (192

[2021-06-20 12:21] nirmeshru commented on #79
Hi @shahpiyushv,

I tried your patch to persist gipo pin status and made the change in the switch example.
I am getting the Init log but it is not reflecting on ESP-wroom-32 Dev Kit V1.
I am using GPIO 2 onboard LED to test gpio persist code.

**I (1066) app_main: Received write request via : Init
I (1076) app_main: Received value = true for Switch - Power**

any other change is required so please

[2021-06-20 14:39] manbomb commented on #9
`npm i react-native-esp-idf-ble-provisioning-rn`

This is the lib that I made. Look that.

[2021-06-22 06:04] adukale commented on #79
Correct. This doesn't work in multi device example.
I am trying to add multiple devices into the the switch example to bypass this issue.

[2021-06-22 06:05] adukale commented on #81
@shahpiyushv The pins 36/39 can work as a button in Arduino but not working in Rainmaker.

[2021-06-22 09:22] shahpiyushv commented on #81
@adukale , I am not sure about Arduino's internal pin to gpio mapping, but do you mean GPIO 36/39 (which are shown as pins 5 and 8) or do you mean PINs 36/39 (which are shown as GPIO 23 and 22)?

[2021-06-22 09:29] shahpiyushv commented on #79
@nirmeshru , have you changed the output gpio number [here](https://github.com/espressif/esp-rainmaker/blob/948ed9db49c9cc715b386c5aca4898555e72812b/examples/switch/main/app_driver.c#L25)?

[2021-06-22 10:49] nirmeshru commented on #79
@shahpiyushv yes, I changed the gpio number to gpio 2.

[2021-06-24 12:32] adukale commented on #81
@shahpiyushv I mean GPIO 36/39.
When I declare a variable like this: `#define BUTTON_GPIO          39` then it means GPIO39, correct?

[2021-06-24 16:12] shahpiyushv commented on #68
@adukale , I don't know rest of your code, like how you have initialised switch2_device and all, but why is your callback so complex? Any reason why you report false when you get true and vice versa? For a normal 2 channel plug, the callback should ideally have been as simple as this:

[code]

[2021-06-24 18:54] adukale commented on #68
@shahpiyushv Thank you for quick response.
I am using 4Channel relay module whcih triggers on LOW. So for this I am sending false on receiving true and vice versa.
Modified example code is uploaded here: [](https://github.com/adukale/esp-rainmaker-switch)

I am pretty new to esp-rainmaker and I know I am missing something. Appreciate any kind of help.

Thanks in advance.

[2021-06-24 21:58] adukale commented on #68
I am not sure if this is issue in my code or a bug: the serial monitor reports correct device name but the  esp_rmaker_param_update_and_report() function prints device name "Switch 1" always.

       ` esp_rmaker_param_update_and_report(esp_rmaker_device_get_param_by_name(switch2_device, ESP_RMAKER_DEF_POWER_NAME), esp_rmaker_bool(true));`

In this case Switch 2 gets triggered but serial monitor s

[2021-06-25 06:18] warmtek commented on #72
Thanks for providing us with Rainmaker !!!
Also for us it would be interesting to have the possibility to make notifications on the Android or IOS phone.
As we will need them soon, it is conceivable that they will be implemented soon or we should think about modifying Rainmaker-Android and using a standard parameter to activate them

[2021-06-25 11:30] shahpiyushv commented on #72
@warmtek significant progress has already been made on cloud side as well as phone app side for various types of notifications. You can expect all of it to converge by mid July.

[2021-06-25 12:08] shahpiyushv commented on #68
@adukale , I found what the issue is with your code. You have created a single power parameter and assigned it to all 4 devices

[code]

When you update one or more parameters from the callback, a flag gets set for the parameter indicating that it has updated. Subsequently, a function gets triggered internally that checks the entire device/params database to find all the updated params to be repor

[2021-06-25 12:12] shahpiyushv commented on #76
@oksimple , sorry I forgot to reply to your second query. The public RainMaker is not allowed to be used for commercial purposes, but we do have commercial variants of ESP RainMaker. Please send an email to sales@espressif.com for more info.

[2021-06-25 12:53] adukale commented on #79
@shahpiyushv I can confirm the behaviour reported by @nirmeshru
Serial monitor shows below:
[code]
But the state does not get updated.

[2021-06-25 12:59] adukale commented on #68
@shahpiyushv Ahhh! Got it. Fixed the code and it works.
Thank you for the help.

[2021-06-25 13:11] adukale commented on #79
I think I found out an issue:
To give a background - I was configuring 4 Channel relay with switch example. So I added 2 switches first and then 2 more.
So the initial 2 switches had: `app_driver_set_state(0);` & `app_driver_set_state2(0);` methods and then at the time of next 2 switches I got lazy and directly added `gpio_set_level(21, 0);` method in write_cb callback.
This is when I discovered t

[2021-06-25 13:37] shahpiyushv commented on #79
@adukale , @nirmeshru  once you get the callback, the rest of the logic is in the example code itself, and not the core rainmaker functionality. Since you are getting the above prints, the "persistency" itself is working fine and clearly the issue is with the driver. I found that he culprit is [this line](https://github.com/espressif/esp-rainmaker/blob/948ed9db49c9cc715b386c5aca4898555e72812b/exam

[2021-06-25 14:47] adukale commented on #79
@shahpiyushv Correct. Removed the line and now switch state is getting restored.

Closing the issue as the same is resolved.

[2021-06-26 08:20] warmtek commented on #72
Thank you very much!!!
We will wait the middle of July

[2021-06-28 10:17] shahpiyushv commented on #76
Closing this issue as appropriate answer has been provided.

[2021-06-28 10:17] #76 closed

[2021-06-28 17:58] rvalentini1 commented on #9
Hi , is there a react-native espress if ble provisioning for ios?
Thanks

[2021-07-02 04:05] Shravani100 opened #83 "ESP32S2 self claiming verification failed (MEGH-2482)"
Hello all,

I am using esp32s2 module on the PCB. I am trying to do self claiming using ./rainmaker.py claim command, But for one of the module it is showing the error as follows :
Claiming process started. This may take time.
Claim initiate started
Claim initiate done
Generating CSR
[ERROR]:Claim verification failed.
{"status":"failure","description":"User does not have available quota. Please co

[2021-07-02 06:33] shahpiyushv commented on #83
@Shravani100 , this error won't come for self claiming, but seems you are doing the host driven claiming. For that, we have a default quota of 5. If you want to increase the quota, just send an email to esp-rainmaker-admin@espressif.com mentioning your registered email address and desired quota.

[2021-07-02 17:30] shahpiyushv commented on #83
Closing this issue since it has been addressed.

[2021-07-02 17:30] #83 closed

[2021-07-09 14:17] Shravani100 opened #84 "Problem in executing RAINMAKER SWITCH code on ESP32C3(devKit-M1) through BLUETOOTH"
I have executed code of SWITCH (esp-rainmaker--> examples --> switch) from RAINMAKER using ESP32C3. The device was visible on RAINMAKER App and I could switch the LED through WiFi connectivity. But my query is "How to execute same code via ESP32C3's Bluetooth.

[2021-07-09 14:54] shahpiyushv commented on #84
@Shravani100 , controlling over Bluetooth isn't supported yet.

[2021-07-10 04:43] Shravani100 commented on #84
@shahpiyushv thank you for the information regarding rainmaker and its connectivity to ESP32C3 via bluetooth.
Now with reference **_to access ESP32C3 Bluetooth_**  what I did is, I have downloaded nRF Mesh app to form connectivity between ESP32c3 BLE and mobile. And I could connect device successfully. So is it possible to control (on/off) ESP32C3 via same app using BLE or I need to go for some an

[2021-07-12 13:22] adukale commented on #81
@shahpiyushv I have added my code here: https://github.com/adukale/esp-rainmaker-switch/tree/8-relay-8-switch

I have added below:
[code]
If I add this then idf.py serial monitor gets stuck on `E (1046) gpio: gpio_install_isr_service(438): GPIO isr service already installed`

I also tried with:
[code]
For above, idf.py serial monitor doesnot get stuck but the callbacks added doesnot execute.

Than

[2021-07-12 13:36] adukale commented on #81
@shahpiyushv Awesome!!! This fixed the issue. Appreciate your quick response. Thanks.

[2021-07-12 13:36] #81 closed

[2021-07-20 00:15] chmoore889 opened #86 "Watchdog triggering on esp_rmaker_param_update_and_report in timer (MEGH-2604)"
Following an update to ESP IDF version 4.3 from some older version (4.1 or 4.2 can't quite remember) and pulling the latest version of ESP Rainmaker, a particular call to `esp_rmaker_param_update_and_report `started triggering the watchdog and showing the following error, which traces back to the following code, which is within the callback for an `esp_timer`. All other calls to the function work

[2021-07-21 14:25] stanleyseow opened #87 "_eventCallback(): Reason: 2 - AUTH_EXPIRE (MEGH-2614)"
I tried two correct Access Point  with same ERRORS

I cleared the flash and re-flash the RmakerSwitch a few times..

Im using this Wemos R32 ( ESP32 in Uno form factor )
https://www.hackster.io/NYH-workshop/wemos-r32-with-arduino-startup-guide-7bc841

[ 70766][I][RMaker.cpp:19] event_handler(): RainMaker Claim Successful.
[ 95845][W][WiFiGeneric.cpp:829] _eventCallback(): Reason: 2 - AUTH_EXPIRE
E

[2021-07-22 16:41] shahpiyushv commented on #87
@stanleyseow , can you add handling for the event ARDUINO_EVENT_PROV_CRED_RECV similar to [this](https://github.com/espressif/arduino-esp32/blob/ee24736042d72dad6e14398d7096a4957325fd3c/libraries/WiFiProv/examples/WiFiProv/WiFiProv.ino#L16), by editing the [sysProvEvent](https://github.com/espressif/arduino-esp32/blob/ee24736042d72dad6e14398d7096a4957325fd3c/libraries/RainMaker/examples/RMakerSwit

[2021-07-25 18:30] ajarsco commented on #64
I also encounter the same issue! How to solve this. Happened during adding multiple switches...
error:

⸮E (8799) esp_rmaker_node config: Buffer size 2048 not sufficient for Node Config.
 E (8800) esp_rmaker_node_config: Could not get node configuration for reporting to cloud
E (8803) esp_rmaker_core: Report node config failed. E (8808) esp_rmaker_core: Aborting!!!

[2021-07-25 18:31] ajarsco commented on #64
I also encounter the same issue! How to solve this. Happened during adding multiple switches...
error:

⸮E (8799) esp_rmaker_node config: Buffer size 2048 not sufficient for Node Config.
E (8800) esp_rmaker_node_config: Could not get node configuration for reporting to cloud
E (8803) esp_rmaker_core: Report node config failed. E (8808) esp_rmaker_core: Aborting!!!

[2021-07-25 18:32] ajarsco opened #88 "Buffer size 2048 not sufficient for node config (MEGH-2628)"
I also encounter the same issue! How to solve this. Happened during adding multiple switches...
error:

⸮E (8799) esp_rmaker_node config: Buffer size 2048 not sufficient for Node Config.
E (8800) esp_rmaker_node_config: Could not get node configuration for reporting to cloud
E (8803) esp_rmaker_core: Report node config failed. E (8808) esp_rmaker_core: Aborting!!!

[2021-07-25 18:41] shahpiyushv commented on #64
@ajarsco The logic was changed some time back such that the buffer would get allocated dynamically, instead of limiting to the config option (default being 2048). Can you just pull the latest esp-rainmaker code and retry?

[2021-07-25 20:03] ajarsco commented on #64
Yeah I have changed the default 2048 to 4096..
Now that issue is gone.. but the device is not connecting to the app..

Can you give me an example for multiple switches in arduino ide

[2021-07-26 07:21] shahpiyushv commented on #64
@ajarsco as mentioned above, the logic itself has changed and the `CONFIG_ESP_RMAKER_MAX_NODE_CONFIG_SIZE` no more exists. Even if this is currently working for you, updating to the latest esp-rainmaker is recommended.

Can you elaborate more on the point `the device is not connecting to the app..`? What exactly is failing?

For multiple switches, basically you just need to define one more switch

[2021-07-27 17:09] shahpiyushv commented on #86
@chmoore889 , esp_timer is actually recommended only when you require high accuracy. This same timer also gets used for Wi-Fi and some other tasks. To be on safer side, it is better to use the FreeRTOS timer instead. Similar change was done in the temperature sensor example [here](https://github.com/espressif/esp-rainmaker/commit/8854443e4e2cd486065f60b5e1c3c4caa31b39b8#diff-af6ee23443d1297ff6a042

[2021-07-27 17:10] shahpiyushv commented on #88
Closing this issue since it is a duplicate of https://github.com/espressif/esp-rainmaker/issues/64

[2021-07-27 17:10] #88 closed

[2021-07-28 04:08] ajarsco opened #89 "Can we execute RAINMAKER SWITCH code on ESP32 using WLAN (local network without internet) (MEGH-2650)"

[2021-07-28 08:25] shahpiyushv commented on #89
@ajarsco , the question is not clear to me. Once a device has been added to RainMaker, it can later be controlled on the local network even when there is no Internet. Check the docs [here](https://rainmaker.espressif.com/docs/local-control.html) for more info.

[2021-07-28 08:36] ajarsco commented on #89
Ok thank you sir, let me check

[2021-07-28 21:55] darrinbolden opened #90 "Esp Rainmaker as a component of the Esp32 S2 HMI"
Hi Guys,
Has anyone had any success in using Rainmaker as a component of the Esp32 S2 HMI Dev Kit 1?

[2021-07-29 01:46] chmoore889 commented on #86
@shahpiyushv Great thanks! Using the FreeRTOS timer solved the issue. I think it might be beneficial to note somewhere in the documentation that using `esp_rmaker_param_update_and_report` in esp_timer callbacks might have this issue.

[2021-07-29 01:46] #86 closed

[2021-07-29 17:42] shahpiyushv commented on #90
@darrinbolden , can you be a bit more specific? ESP32-S2 HMI Dev Kit seems to be a development board whereas ESP RainMaker is a software project that works with ESP IDF. If you already have your own ESP IDF based project, you may add this line in your CMakeLists.txt file:

[code]

You can define RMAKER_PATH as an environment variable using `export RMAKER_PATH=/path/to/esp-rainmaker` and then add `

[2021-07-30 17:02] adukale commented on #78
This issue is still there.
Any help is appreciated.
![image](https://user-images.githubusercontent.com/1003980/127687405-817e70bd-b1e6-4d71-9be6-714e56604a3b.png)

[2021-07-30 17:22] shahpiyushv commented on #78
@adukale , we plan to make some more changes to the wifi code in HomeKit, but for the time being, you can use this patch:
[homekit_wifi_patch.txt](https://github.com/espressif/esp-rainmaker/files/6909119/homekit_wifi_patch.txt)

Apply using:

[code]

[2021-07-30 20:55] adukale commented on #78
@shahpiyushv Awesome. This fixed the issue.
The homekit code seems bit complicated to me but considering functionality it is worth diving into.
Cheers...!
Thanks. Appreciate your help.

[2021-07-30 20:55] #78 closed

[2021-08-04 14:41] ajlennon opened #92 "Enabling insights crashes the "switch" example"
I followed the instructions to enable Rainmaker insights

https://rainmaker.espressif.com/docs/esp-insights.html

I updated the firmware via OTA (I also reflashed and re-provisoned) but I get this

[code]

[code]

If then continuously resets itself.

Any thoughts?

[2021-08-04 17:24] adukale opened #93 "Anyone tried multiple devices/switches in Homekit example"
I want to integrate multiple devices/switches in Homekit example code. The homekit initialization is clear to me but I am getting confused while registering devices ans setting callbacks, so wondering if anyone has already tried this.

Thanks in advance.
Any help is appreciated.

[2021-08-04 18:02] shubhamdp commented on #92
@ajlennon Looks like `app_insights_enable()` is being called twice. Have you added a call to `app_insights_enable()` in `examples/switch/main/app_main.c`? If yes then that is not required. As mentioned [here](https://rainmaker.espressif.com/docs/esp-insights.html#enable-the-esp-insights), it is already included in all ESP RainMaker examples. So, you will just have to enable CONFIG_ESP_INSIGHTS_ENA

[2021-08-04 18:21] ajlennon commented on #92
Silly me. You are absolutely right! I fixed that and it boots up.

It sends this

[code]
But I am not seeing anything on the dashboard? I just get

"Please ensure that the diagnostics support is enabled in your firmware to turn on insights."

[2021-08-05 12:35] shubhamdp commented on #92
@ajlennon Can you please share the screenshot of the webpage. Also, on which pages do you see this message? There are three(Node Reports, Metrics, and Variables).

[2021-08-05 12:43] ajlennon commented on #92
Sure so this is the main page which looks ok

![Screenshot from 2021-08-05 13-41-56](https://user-images.githubusercontent.com/1537834/128351631-08f7db2c-7edf-4ba6-a9ee-1e841d3d9a8a.png)

And this is where I expected more info

![Screenshot from 2021-08-05 13-42-48](https://user-images.githubusercontent.com/1537834/128351696-ec01073f-ae96-418b-98f7-32860c8442f4.png)

[2021-08-05 14:56] shubhamdp commented on #92
I assume you are using the `examples/switch` as is, it does not have all the functionality enabled. Also, I see there is some data on the Node reports page that means you are all set. For [metrics](https://github.com/espressif/esp-insights#metrics) and [variables](https://github.com/espressif/esp-insights#variables) you'll have to enable few config options.

Please read more [here](https://github.

[2021-08-06 07:50] shahpiyushv commented on #92
@ajlennon , it would be hard to suggest without even knowing what the use case it. This specific issue was opened for "Insights" which is a diagnostics solutions whereas RainMaker is more of an end to end IoT system. The EduKit example which leverages RainMaker is just one example based on RainMaker, built for a specific development board.

So most probably, The "switch" example in ESP RainMaker w

[2021-08-06 08:32] ajlennon commented on #92
Hi @shahpiyushv,

Specifically wrt Insights, I started here, with no reference to AWS IoT

https://rainmaker.espressif.com/docs/get-started.html

Then I went through the rest of the pages there until I got to this

[2021-08-06 08:41] ajlennon commented on #92
Aha - "minimal_diagnostics" ? Thanks! Will try...

[2021-08-06 10:37] shubhamdp commented on #92
@ajlennon Please take a look [here](https://github.com/espressif/esp-insights/tree/main/examples), there are two examples which demonstrates how insights can be used.

[2021-08-06 10:42] shahpiyushv commented on #92
@ajlennon , As @shubhamdp has mentioned, if you are interested purely in "ESP Insights", which is a diagnostics solution that would typically work with your existing or new IoT application, you can check the examples [here](https://github.com/espressif/esp-insights/tree/main/examples). However, if you want to leverage AWS IoT to develop your own end to end IoT system itself, you should start with

[2021-08-06 11:08] ajlennon commented on #92
That's great - thanks!

[2021-08-06 17:17] adukale opened #94 "Scheduling not supported in homekit_example (MEGH-2718)"
Hi

Is there any specific reason scheduling is not supported in homekit_example.
Or do I need to enable some flag to enable scheduling?

Thanks in advance.

[2021-08-06 17:29] shahpiyushv commented on #94
Scheduling is an optional feature and not relevant not directly relevant in the context of a demo app that's primarily to show how RainMaker + HomeKit works together. That's the only reason why it's not there. You can read the docs [here] (https://rainmaker.espressif.com/docs/scheduling.html#usage) or copy relevant code from any of the examples (including timezone related code) and enable scheduli

[2021-08-07 19:46] darrinbolden commented on #90
@shahpiyushv your observation is correct. My objective is to use Esp Rainmaker to control the Esp32 S2 HMI Dev kit 1 smart panel instead of the Q cloud /WeChat example given.  It appears that:  https://github.com/espressif/esp-dev-kits/blob/master/esp32-s2-hmi-devkit-1/examples/smart-panel/main/ui/ui_app.c Line 233 needs to be modified.  Esp Rainmaker will operate in SoftAP mode. I will insert the

[2021-08-08 14:36] adukale commented on #94
@shahpiyushv Noted. Will check.
Thanks for the information.

[2021-08-08 14:36] #94 closed

[2021-08-10 05:54] #67 closed

[2021-08-11 12:46] shahpiyushv commented on #89
Closing this issue since it has been addressed. Do let us know if any additional information is required.

[2021-08-11 12:46] #89 closed

[2021-09-01 07:23] miroslavpetrov commented on #86
I know the issue is closed but I am experiencing exactly the same issue. However, I am using the TimerHandle_t and not esp_timer. This is my app_sensor_update function which is based on the one found in the app_diver.c in temperature sensor example

`static void app_sensor_update(TimerHandle_t handle)
{

    //Get Temperature
    wakeup_sensor(SENSOR_ADDR);
    float temperature = 0, humidity = 0;

[2021-09-01 10:09] shahpiyushv commented on #86
@miroslavpetrov , a crude approach, but can you add some prints before and after these calls and also enabled the idf level debug logs so that we get more info?

[2021-09-07 11:31] CodorStelian commented on #66
Also, a clear option for all node logs like errors should be implemented. Is annoying to see hundreds of errors from previous versions.
Thanks

[2021-09-07 17:36] shahpiyushv commented on #66
@CodorStelian , Noted!

[2021-09-13 13:05] miroslavpetrov commented on #86
@shahpiyushv

this is the debug level log

`
D (2094726) MQTT_CLIENT: received MQTT_MSG_TYPE_PUBACK, finish QoS1 publish
D (2094736) esp_mqtt_glue: MQTT_EVENT_PUBLISHED, msg_id=28693
D (2094746) event: no handlers have been registered for event RMAKER_COMMON_EVENT:5 posted to loop 0x3fca25d8
D (2096336) SSL TLS: add mbedtls RX buffer
D (2096336) SSL TLS: end
D (2096336) SSL TLS: RX left 3 bytes
D

[2021-09-13 15:05] warmtek commented on #72
We are using Rainmaker with notifications and everything is working fine, thanks again.
In an application with Rainmaker we routed Vref2 on IO25 for use in ratiometric temperature measurements with thermistors on ADC1.
Everything is fine until the WIFI starts; at this point Vref2 disconnects from the IO25 which results in high impedance.
Since a printed circuit has been made to use this possibilit

[2021-09-13 15:50] warmtek commented on #72
We used the master branch on Github fetched just 5 days ago and as explained in "esp_rmaker_core.h" we used the API "esp_rmaker_param_update_and_notify"
We are using ESP-WROOM-32 on DEVKITV1

[2021-09-13 15:55] warmtek commented on #72
For the routing of VREF2 we used the API that is reported on "adc_common.h" "adc_vref_to_gpio(2,25);"

[2021-09-13 16:00] warmtek commented on #72
We know that ADC2 is used with WIFI but we thought a static configuration with VREF2 on IO25 was possible.
If this is not possible we will find another solution

[2021-09-13 16:03] JohnMacrae commented on #72
I think you will have to rework the board. It might be possible to disable
the wifi when taking the reading but that will be very messy with Rainmaker
I think.

Kind Regards
John

On Mon, 13 Sept 2021 at 17:00, warmtek ***@***.***> wrote:

[2021-09-13 16:13] shahpiyushv commented on #72
@warmtek , I think it would be better to ask this question on [esp-idf issues](https://github.com/espressif/esp-idf/issues), since the adc as well as underlying wifi component are part of esp idf. @JohnMacrae support for notifications was added in this commit: https://github.com/espressif/esp-rainmaker/commit/afcc67f3ec4bc4cae1dcfb7d600842bf7da78131. I think that is what you were looking for while

[2021-09-13 16:13] #72 closed

[2021-09-13 16:17] shahpiyushv commented on #66
@JohnMacrae . closing this issue since the RainMaker dashboard now gives an option to archive OTA jobs. Please have a look.

[2021-09-13 16:17] #66 closed

[2021-10-02 15:13] ajsb85 opened #95 "set-target esp32s2 (MEGH-2865)"
Dearest.

The examples should have the setup for the ESP32-S2...

[code]

[2021-10-04 05:13] shahpiyushv commented on #95
As indicated in the error message *To change the target, clear the build directory and sdkconfig file, and
  build the project again*.
Can you just clear these files/folders?

[code]

[2021-10-05 12:56] NemesisXB opened #96 "Why not just completely open source ESP Rainmaker? (MEGH-2878)"
Why don't you just completely open source ESP Rainmaker, including the server side code? Espressif is after all a silicon vendor. The pricing is just too much for small to medium projects. Also, I have open issues from almost 18 months ago that require server side updates, which has not been done as only espressif can make those changes. If it was actually open source it might have been done by so

[2021-10-05 16:46] CodorStelian commented on #29
You can achieve this by creating a new custom device and set the switch param as the main param. Also, you need to create a new icon and build your own phone app, just add your own icon [here](https://github.com/espressif/esp-rainmaker-android/blob/8c58b4e9c886617cbfe556bee95a299e584ba96c/app/src/main/java/com/espressif/ui/adapters/EspDeviceAdapter.java#L70) (for android). Anyway, I think more ico

[2021-10-05 17:08] CodorStelian commented on #7
The push button ui element is already available in android app, but I don't know if it is available in iOS app too.
Use this in your custom param:
`esp_rmaker_param_add_ui_type(param, esp.ui.trigger);`

[2021-10-05 18:34] NemesisXB commented on #29
Will this not replace the switch icon for any device using it?

[2021-10-05 18:37] NemesisXB commented on #7
Any reason this is not documented?
https://rainmaker.espressif.com/docs/standard-types.html

[2021-10-05 18:52] CodorStelian commented on #29
No. I will give you an example for humid sensor which I have implemented in IO Connect
In EspDeviceAdapter.java:
` else if (AppConstants.ESP_DEVICE_HUMID_SENSOR.equals(device.getDeviceType())) {`
`deviceVh.ivDevice.setImageResource(R.drawable.rmk_ic_device_humid_sensor);`
 `}`
and in AppConstants.java
`    public static final String ESP_DEVICE_HUMID_SENSOR = "esp.device.humidity-sensor";
`

[2021-10-06 10:52] NemesisXB commented on #29
Thanks. I'll try this.

[2021-10-11 10:16] rajeshris opened #97 "unable to find fan device when searching through Google Home (MEGH-2892)"
We built the APK from current source and the standalone esp-rainmaker app was successfully tested for fan support (on, off,speed).We set up the Alexa app to communicate with the fan through Rainmaker and control the fan operations.

However, While setting the Google home App , I am unable to find a "fan" device after linking to my esp-rainmaker account .

There was a thread on the forum and it sai

[2021-10-12 09:11] shahpiyushv commented on #97
@rajeshris Transferred the issue here since it is not specific to the Android app. After checking internally , I found out that the fan support wasn't pushed out to production because the [fan speed control from GVA](https://developers.google.com/assistant/smarthome/traits/fanspeed) was not as straightforward as a range controller for Alexa. We will check how this can be supported and add it asap.

[2021-10-14 03:27] diogoviannaaraujo opened #98 "Digital Signature module usage on S2 C3 S3 (MEGH-2901)"
Ive been reading the client code and can see that the private key is stored on NVS, is there a example of using the DS module with eFuse protected keys?

Cant find many examples on the web about that, especially how to generate the private keys on the device and hmac the parameters.

[2021-10-14 04:05] Shravani100 opened #99 "Is it possible to use UART pins of ESP-32 C3 mini-1 as a general GPIO as well as UART pin for debugging purpose simultaneously. Also whether JTAG pins can be used for debugging as well as general GPIO at the same time. And if it is possible then how to do so."
I want to know, is it possible to use UART pins of ESP-32 C3 mini-1 as a general GPIO as well as UART pin for debugging purpose simultaneously. Also whether JTAG pins can be used for debugging as well as general GPIO at the same time. And if it is possible then how to do so.

[2021-10-14 12:43] diogoviannaaraujo commented on #98
Hi @AdityaHPatwardhan,

Unfortunately that example as all the others I could find the client secret key is generated using OpenSSL in the host computer, which I less secure that I would like, especially having my boards programmed at a untrusted PCBA factory.

I'm searching for a example of generating the private key on device and getting the ds parameters from it.

[2021-10-27 11:29] miroslavpetrov opened #100 "Switch example - button stops working if pressed shortly after boot (MEGH-2945)"
**Steps to reproduce the issue:**
Setup:
Module used: ESP32-C3-mini-1
ESP IDF version: 4.3.1
Code: Switch example without any modifications

Problem:
If the button connected to GPIO9 is pressed sometime during the first 10 seconds after power up(during WiFi connection, MQTT connection and starting work queues) the first event is registered and the switch is turned on **but each subsequent press is

[2021-11-01 05:07] shixinke-orion commented on #100
Hi Miroslav, Could you try to modify the priority and queue length of the freertos timer to solve this issue? The button component of rainmaker uses a lot of callbacks, but they are not handled well. I guess the stop work is related to this.
[code]

[2021-11-04 07:17] miroslavpetrov commented on #100
This fixes the issue for now. Thanks.

[2021-11-04 07:17] #100 closed

[2021-11-16 20:50] xhivo97 commented on #7
I noticed that as well, it is mentioned here:
https://docs.espressif.com/projects/esp-rainmaker/en/latest/c-api-reference/rainmaker_standard_types.html

[2021-11-17 17:56] shahpiyushv commented on #7
@NemesisXB @xhivo97 this wasn't documented as it wasn't yet added in iOS. There are other some undocumented types as well which we will add soon. Sorry for the delay on our part.

[2021-11-18 00:30] sahilkhanna opened #101 "Updating parameter with empty array list removes parameter"
When I try to update an array parameter of a service or a device using `esp_rmaker_param_update_and_report()` function with and empty array `esp_rmaker_array("[]")` and try to read params using rest api. The response returns back without the entire parameter.
lets say I have a device "a" with a param "b" of type array, after updating the param with an empty array and then using `getparam ` command

[2021-11-18 11:22] shahpiyushv commented on #101
@sahilkhanna , thanks for reporting this issue. I could verify it myself. We had indeed made some changes to the node params logic and that has probably caused some regression. We will check and fix this asap.

[2021-11-22 15:49] xhivo97 commented on #7
Thanks for the reply.
I don't have an iOS device to test right now, will using `esp.ui.trigger` break anything for iOS users?

[2021-11-24 18:00] shahpiyushv commented on #99
@Shravani100 , sorry for the late reply, but it would be better if you ask this under [esp-idf issues](https://github.com/espressif/esp-idf/issues).

[2021-11-24 18:01] shahpiyushv commented on #95
Closing this issue since it is stale. Please update if the issue still persists.

[2021-11-24 18:01] #95 closed

[2021-11-24 18:02] shahpiyushv commented on #87
Closing this issue as it is stale and no response was received. Please update here if the issue still persists

[2021-11-24 18:02] #87 closed

[2021-11-24 18:04] shahpiyushv commented on #84
@Shravani100 , sorry I missed this. This is not really in RainMaker's scope since RainMaker is primarily for cloud communication (with an option of local control over Wi-Fi), but even then could you proceed with what you were trying with BLE mesh?

[2021-11-24 18:05] shahpiyushv commented on #82
Closing this issue as it is stale and no response was received. Please update here if the issue still persists.

[2021-11-24 18:05] #82 closed

[2021-11-24 18:06] shahpiyushv commented on #32
As mentioned, please file feature requests if you want specific icons. Closing this issue since there's no specific following up left as such.

[2021-11-24 18:06] #32 closed

[2021-12-03 03:24] shahpiyushv commented on #54
Setting timezone is now available in the phone apps from node details screen. Timezone also gets automatically set during the last step of provisioning.

[2021-12-03 03:24] #54 closed

[2021-12-12 11:22] adukale opened #102 "ESP Insights not registered when new firmware with ESP Insights is flased on existing ESP rainmaker configured device (MEGH-3033)"
The issues is, I had an esp rainmaker devices configured and installed for testing. This was configured and installed prior to inclusion of esp insights into rainmaker.
Now, I pushed an OTA to the device with `app_insights_enable();`. After OTA sucess the node is not showing itself in Rainmaker Dashboard. And in this process I changed OTA config to topics so now I can't access the device via CLI a

[2021-12-13 07:37] shubhamdp commented on #102
Hi @adukale, can you please provide the following details
- Device (ESP32, S2, C3,..)
- If this is an ESP32-S2 was this self-claimed or claimed using rainmaker cli? ([ref for claiming](https://rainmaker.espressif.com/docs/claiming.html))
- Commit head for rainmaker

[2021-12-13 07:44] adukale commented on #102
@shubhamdp Here are the details:

- Device: ESP32
- Claiming used: Assisted claiming
- Commit Head: b516bf1

[2021-12-13 07:45] shubhamdp commented on #102
Thanks @adukale I'll check and get back.

[2021-12-13 11:20] igrr opened #103 "Switch example OUTPUT_GPIO overlaps with USB on ESP32-C3"
The issue was originally reported in https://github.com/espressif/openocd-esp32/issues/192 — after uploading `switch` example to ESP32-C3 over the built-in USB-SERIAL-JTAG port, USB stops working.

This is probably caused by the fact that OUTPUT_GPIO is set to 19, which is the USB D- pin on ESP32-C3 (and USB D+ pin on ESP32-S3).
https://github.com/espressif/esp-rainmaker/blob/722635985e2b99cdade94

[2021-12-13 18:04] shahpiyushv commented on #102
@adukale , do you mean that you do not see the node in the list of nodes in the dashboard at all? If yes, that is unrelated to ESP Insights as such, but a different issue altogether.

Even if Assisted Claiming is enabled, note that the claiming process repeats only if the ESP32's flash memory was completely erased. Otherwise it is very much possible that a node has different end user and admin use

[2021-12-14 05:54] adukale commented on #102
@shahpiyushv Have sent email on esp-rainmaker-admin@espressif.com.
The same firmware was installed on another board, the insights were available for that.

My question is, Even if esp-insights is not enabled in idf.py menuconfig & in code then also the node will be visible in admin dashboard (dashboard.rainmaker.espressif.com) or not ?
If yes, then as you said this will be different issue altogeth

[2021-12-24 06:42] xuniuer commented on #103
C3 is not supported, S2 instead.

[2021-12-30 18:09] shahpiyushv commented on #97
@rajeshris , forgot to mention here, but support for Fan was added in GVA some time back. Please check. Closing this issue now.

[2021-12-30 18:09] #97 closed

[2022-01-08 12:02] sduddell opened #104 "ESP32 disconnects from Wifi after device is added in rainmaker app (MEGH-3112)"
Hi,

I'm trying to add a device in rainmaker app and edit one of its parameters.
But, after wifi provisioning and device gets added in the app, it gets disconnected from wifi.

Log messages look as shown in image:
<img width="906" alt="Screenshot 2022-01-08 at 5 30 03 PM" src="https://user-images.githubusercontent.com/42615462/148643382-9ee0374e-82e7-4613-ae80-83267324f4c2.png">

My code looks som

[2022-01-10 09:29] shahpiyushv commented on #104
@sduddell , do you see this with all Wi-Fi routers? Where are the Hello world prints coming from?

[2022-01-11 08:06] sduddell commented on #104
hi Piyush, thanks for your reply, I tried with two networks . One with my mobile hotspot and another with router wifi connection. I see this behavior with router network. Is there any minimum wifi RSSI for this to not happen?

[2022-01-13 13:29] #104 closed

[2022-01-13 13:38] sduddell opened #106 "ESP rainmaker claim failing with error: Platform is invalid (MEGH-3121)"
Hi,

I'm trying to claim my device using the command:
`./rainmaker.py claim $ESPPORT`

But it fails with the error:
[code]

ESP32 based chip is being used.
This command works fine when logged in with another account though.

Any help/suggestion is much appreciated.

Thanks!!

[2022-01-13 13:49] sduddell commented on #106
I was able to resolve by specifying the platform explicitly:

`./rainmaker.py claim $ESPPORT --platform esp32 --mac <mac address>`

[2022-01-13 13:49] #106 closed

[2022-01-14 09:04] bbinet opened #107 "Question: do you plan to add support for 4G modems?"
Would be great to be able to connect devices through 4G modem with [esp_modem](https://espressif.github.io/esp-protocols/esp_modem/index.html)

[2022-01-22 21:31] chmoore889 opened #108 "Allow for arrays of schedule triggers"
When writing several triggers to a schedule, only one is parsed and reported back.

It seems this is not implemented yet, though it seems it was meant to be: https://github.com/espressif/esp-rainmaker/blob/b516bf1a700d723e6ec1892178db024ac6b14e47/components/esp_rainmaker/src/core/esp_rmaker_schedule.c#L803

[2022-01-24 19:58] gtoombs-microsaas opened #109 "Enhancements to `led_light`"
I have in hand a set of enhancements to the `led_light` example, including:

- Very simplistic exponential curvature brightness compensation for the WS2812
- Reuse of `esp_rmaker_param_val_t` instead of pulling them apart and putting them back together
- More consistent error handling and logging
- Factoring-out of duplicated code in `app_light_init`
- Replacement of string-comparison parameter ch

[2022-01-25 08:39] shahpiyushv commented on #109
@gtoombs-microsaas , this indeed sounds useful. I believe this may not be applicable just for led_light, but other examples as well. It would help if you file separate PRs for individual features so that they are easier to review and merge.

[2022-01-26 20:15] reinderien commented on #109
First PR: https://github.com/espressif/esp-rainmaker/pull/110

[2022-01-27 09:48] shahpiyushv commented on #107
@bbinet ,  Since RainMaker is not really linked to the underlying transport layer, this may be possible, but there are no plans to work on it right now.

[2022-01-27 09:53] shahpiyushv commented on #102
As discussed on email, the issue was about the admin id being different for the nodes.

Meanwhile, OTA_USING_PARAMS & OTA_USING_TOPICS cannot be enabled simultaneously.

[2022-01-27 09:53] #102 closed

[2022-02-01 16:51] bbinet commented on #58
+1 for adding an option to bypass WiFi: this would also be useful when using 4G modem instead of ethernet connectivity (see: #107)

[2022-02-12 04:32] eos1d3 opened #111 "Mobile phone compatibility for RainMaker Android App using ESP32S2"
I tried the LED Light example using IDF Release 4.3. ESP32 boards work without issue. But ESP32S2 just cannot be added using Poco X3 NFC mobile phone.

Another ESP-C3 with factory flashed LED Light example works with this mobile phone.

After scanning the QR Code, a small window showing:
[code]

After clicking Connect, a single line of message "Connection successful" is shown, but it jumps to anot

[2022-02-12 06:45] eos1d3 opened #112 "ESP32-S3 Error 261. Failed to get PoP from NVS, Please perform Claiming"
ESP-IDF version: Release 4.4
ESP device: ESP32-S3
LED_Light example

There are errors after Assisted Claiming:

[code]

BTW, there are some warnings during compilation:

[code]

[2022-02-14 06:10] sahilkhanna opened #113 "Feature request for reporting OTA status to main application (MEGH-3188)"
I have a somewhat a complicated application running and with a couple of RTOS Tasks. I found out that OTA fails to work with the whole application running. Sometimes it is SSL handshake that fails or some other reason but from my understanding it is lack of available free heap memory.
I was thinking that it might be good if I could get an event in my main application that OTA has begun so I could

[2022-02-14 12:27] shahpiyushv commented on #112
@eos1d3 , I just tried this with esp idf v4.4 release and esp-rainmaker master branch on an esp32s3. Erased the flashed and then used `idf.py flash monitor`. I get this output

[code]

So, it is hard to tell what the problem  could be. Can you double check that your flash was erased before you flashed the firmware. Can you double check that your partition table is right? It is printed on boot-up

[2022-02-14 12:48] eos1d3 commented on #112
The board I am using is ESP32-S3-DevKitC-1, ordered from Espressif China directly.

This is my partition table:
[code]

I do erase-flash not just once, but the problem is the same. Just tried again with new setup and still got the same problem.

[code]

I found other has the same problem from ESP32.com:
https://www.esp32.com/viewtopic.php?f=25&t=25649

[2022-02-14 13:03] eos1d3 commented on #112
My board shall be  ESP32-S3-DevKitC-1-N32R8V (32MB Flash, 8MB PSRAM)

Can the large flash size cause the problem? See the two warnings below:

[code]

[2022-02-15 12:22] shahpiyushv commented on #112
@eos1d3 The flash related warning just says "access beyond 16 MB is not supported for this flash model" which I suppose should be fine since the partition table is for 4MB. Can you enable debug logs and see what additional information it gives? You can do so using: idf.py menuconfig -> Component config -> Log output -> Default log verbosity -> Debug

[2022-02-15 16:57] shahpiyushv commented on #111
@eos1d3 the most important difference between esp32c3 and esp32s2 that esp32c3 uses BLE provisioning whereas esp32s2 uses SoftAP. We indeed have seen that some Android variants do not work correctly with SoftAP, especially because this interface does not have Internet. Can you check your phone's Wi-Fi settings once to see if there is some "intelligent" switching enabled to ensure that the phone is

[2022-02-17 09:18] eos1d3 commented on #111
@shahpiyushv I have tried many times enabling "WiFI Assistant -Stay connected". This says to use mobile data when Wi-Fi network cannot connect to the internet. But no matter how many times I tried, the problem is the same.

But from WiFi setting, I can see my phone WiFi is connected to the soft SoftAP.

[2022-02-23 11:01] Roydon opened #114 "idf.py set-target esp32 : Failed to resolve component 'cbor' (IDFGH-6826) (MEGH-3225)"
## Environment

[code]

- IDF version (run ``git describe --tags`` to find it):
[code]
- Build System:         [Make|CMake|idf.py]
- Compiler version
[code]

- Operating System: Linux.
- Using an IDE?: No
- Power Supply: USB
-
## Problem Description

When running `idf.py set-target esp32` inside `esp-rainmaker/examples/switch/` I get above error message

I tried to reinstall esp-idf multiple times

[2022-02-23 11:28] igrr commented on #114
I've transferred this issue to esp-rainmaker project.

`cbor` component has been moved from ESP-IDF into [idf-extra-components repository](https://github.com/espressif/idf-extra-components) in https://github.com/espressif/esp-idf/commit/ebaca79557c3de530dacfd56ac9e5fd10caf8295. It is now available via the IDF component manager: https://components.espressif.com/component/espressif/cbor.

To fix the

[2022-02-23 15:19] #114 closed

[2022-02-23 15:24] Roydon opened #115 "switch example : soc/cpu.h: No such file or directory"
I was following https://rainmaker.espressif.com/docs/get-started.html to build switch example on Ubuntu, but got following error

[code]
Not sure what I am missing here

[2022-03-02 16:21] ankit-thealchemist opened #116 "Reporting the float value at the app (MEGH-3249)"
Hello,

I am developing the battery level sensor on rainmaker app. The temperature example is perfect for me. It is compiling fine and working great. The only issue is at the front end, it is showing the degree centigrade.  I just want the simple float value. If I get the % sign, I would be great. How to achieve it?

[2022-03-03 02:32] sahilkhanna commented on #116
You can create your own param type instead of using temp param type and add it to your device.

[code]

[2022-03-03 06:22] ankit-thealchemist commented on #116
thanks for making the speedy reply.  Could I also place the '%' sigh on the ui? Can I convert the whole data in to the string and then send eg  like 60%.

Thanks in advance!

[2022-03-03 06:32] sahilkhanna commented on #116
I haven't tried it myself but I don't see why that wouldnt work -

[code]
and then use sprintf to make a string from your percentage value with % in the end and use that to update the param value.
[code]

[2022-03-03 11:39] ankit-thealchemist commented on #116
Thanks again for the reply!  I appreciate your efforts!
I got every thing about the above snippet. what is the this flag PROP_FLAG_TIME_SERIES ?

Moreover I find resemblance of rainmaker api with the ble mesh api on esp -idf. Is it  a co incidence?

[2022-03-03 11:49] sahilkhanna commented on #116
oh sorry you dont need that prop to make things work. I just copied the code from one of my examples and modified it to fit your need.
I dont work or affiliated with espressif but I use their stuff.

[2022-03-03 11:50] sahilkhanna commented on #116
moreover `PROP_FLAG_TIME_SERIES` is used for time series data which is only meant for float values at the moment so you should disregard that.

[2022-03-03 12:35] shahpiyushv commented on #116
@ankit-thealchemist

That would indeed be a coincidence since different teams have been working on these.

Meanwhile, as @sahilkhanna has mentioned, you can create your own string parameter and add a % sign to the value reported there. Another option is to have the % in your param name itself (Eg. "Battery %", or"Battery percentage") and just continue to use float values. Ofcourse, it is not exact

[2022-03-04 07:43] ankit-thealchemist commented on #116
thanks for all the support has been provided to me.! I am able to get the desired results.

Thanks again for designing such a great cloud solution.

[2022-03-04 07:43] #116 closed

[2022-03-04 10:08] ankit-thealchemist opened #117 "unable to do the claiming process in esp-idf v4.4 (MEGH-3256)"
hello,

I am able to compile and connect my device to the app when I compile the code using esp-idf v4.3.2. When I try to compile with v4.4 it shows error while claiming the device. I am using the ble as a transport. I havent checkout with the wifi as a transport.

Actually I have to create the code into the arduino. Since arduino core version >= 2 uses esp idf 4.4, on this also I am unable to cla

[2022-03-04 11:07] shahpiyushv commented on #117
@ankit-thealchemist , what is the error that you see? Is this with iOS or Android?

[2022-03-04 11:56] ankit-thealchemist commented on #117
Thanks for the speedy reply! Actually it is doing nothing. I am showing the screenshot. My device is redmi note 4. running on android 7.0 NRD90M.  The thing is I have no problem on esp idf v4.3.2. It works perfectly fine
I would try with different device and let you know about the results.

![error](https://user-images.githubusercontent.com/52170519/156759060-023c1a15-0876-4cc8-a50a-12271c764554.P

[2022-03-04 12:43] khushbushah2302 commented on #117
Hi @ankit-thealchemist ,
Can you remove (forget) device from phone's Bluetooth settings and try for provisioning again ?
Steps to remove deice : Bluetooth Settings -> Check previously connected devices. -> Click on settings button for that device -> Click Forget.

[2022-03-04 15:52] ankit-thealchemist commented on #117
I checked with other phone and is working. But its strange its not working with my phone. ok I have no issue now! closing the request!

[2022-03-04 15:52] #117 closed

[2022-03-06 14:48] Ocean100 opened #118 "Can't clone from github, always clone fails."
Can't clone from github, always fails to clone, some can succeed, and some have been unable to clone.
For example: fatal: clone of 'https://github.com/espressif/json_parser.git'

The standard commands are used:
git clone --recursive https://github.com/espressif/esp-rainmaker.git

[2022-03-06 14:51] Ocean100 commented on #118
![clone_fail](https://user-images.githubusercontent.com/60819960/156928429-ee42f36f-0f8a-4639-8ecc-164e64d1002b.png)

[2022-03-07 05:11] shahpiyushv commented on #118
@Ocean100 , I see some gitclone.com paths in your logs. Are you using some caching logic via gitclone.com? The default repository  and submodules do not have gitclone.com URLs, so seems more like an environment issue to me.

[2022-03-07 13:45] Ocean100 commented on #118
@shahpiyushv
Using gitclone.com is an attempt to speed things up, actually the same result without this.
I tried using git clone --recursive git://github.com/espressif/esp-rainmaker.git
It is found that most files can be cloned normally, and some small files can also be cloned manually according to the prompts.
I don't quite understand the difference between https and git. I am trying to find the

[2022-03-14 17:51] eos1d3 opened #119 "Google Assistant support for Temperature & Humidity sensor"
Google Assistant has standard device `action.devices.types.SENSOR` which supports traits of:

[code]

👉  https://developers.google.com/assistant/smarthome/guides/sensor

It is really good to use temperature and humidity sensor with it. But Rainmaker does not support it for the moment. Is there a plan for this?

[2022-03-16 17:59] shahpiyushv commented on #115
@Roydon , we have pushed some fixes for RainMaker and Insights so that it can work even with esp idf master branch. Can you pull the latest esp-rainmaker, ensure that all git submodules are in sync (using `git submodule update --init --recursive  `) and retry?

[2022-03-16 18:00] shahpiyushv commented on #112
@eos1d3 , can you pull the latest esp-idf and esp-rainmaker and retry? [This commit](https://github.com/espressif/esp-idf/commit/12e050b38c373cfaf67ade4b65f0afa8d50b92d8) in esp-idf should help resolve this issue.

[2022-03-17 04:12] eos1d3 commented on #112
@shahpiyushv I just made clean installation of IDF master and esp-rainmaker. Tested with `led_light` example and erase flash before flashing new binary. It gives the same problem. But I am seeing other warnings:

[code]

And the same HPM error happens in `blink` example too.  Does my board (ESP32-S3-DevKitC-1-N32R8V, 32MB Flash, 8MB PSRAM) has new EEPROM which is not yet supported?

The full log h

[2022-03-17 17:57] shahpiyushv commented on #112
@eos1d3 , have you checked if the nvs and wifi provisioning examples from esp-idf work fine on your board? Here are the pointers:

https://github.com/espressif/esp-idf/tree/master/examples/storage/nvs_rw_blob

https://github.com/espressif/esp-idf/tree/master/examples/storage/nvs_rw_value

https://github.com/espressif/esp-idf/tree/master/examples/provisioning/wifi_prov_mgr : try reboot after this a

[2022-03-18 08:02] eos1d3 commented on #112
For `nvs_rw_blob`, after pressing boot button, the restart counter is always 0.  Log is here:

[code]

For `nvs_rw_value`, it is the same.  The counter is not increased and I never see "Restart counter = 1".

For `wifi_prov_mgr`, after scanning QR Code, it failed at this screen:

https://i.postimg.cc/tRtVjDN7/2022-03-18-15-52-15.jpg

[2022-03-18 22:16] eos1d3 commented on #112
@shahpiyushv

Please see https://github.com/espressif/esp-idf/issues/8547#issuecomment-1072302537

My board is ESP32-S3 N32R8V, with a V which uses 1.8V SPI flash, compared to 3.3V SPI in other N8R8 SoC. This can be the compatibility problem. And I suspect the board has some other design issue as the RGB LED is not working as well.

[2022-03-20 08:31] Ocean100 commented on #118
The final reason: network problem, I have used someone else's computer remotely and can clone successfully.

[2022-03-20 08:38] Ocean100 opened #120 "[rainmaker/Alexa problem] Using rainmaker to debug with Alexa in China"
I can't use Alexa in China (AWS seems to have discontinued support for this and I can't open the Alexa app), but I'd like to have voice debugging integrated.
What should I do please?

[2022-03-20 08:40] Ocean100 commented on #120
I installed a DualSpace software that can virtualize the phone desktop and download Alexa, but the phone app will eventually report an error

[2022-03-21 07:21] shahpiyushv commented on #120
@Ocean100 , the problem is not completely clear to me, but if the problem is at Alexa side itself, and if it the commands aren't even hitting the RainMaker backend , it could be hard to debug the issue. What kind of errors does Alexa report?

[2022-04-01 13:13] shahpiyushv commented on #118
Closing this issue since it has been resolved.

[2022-04-02 07:13] shixinke-orion commented on #120
@Ocean100 You need to switch the language to English, turn off the mobile communication network, remove the sim card, connect to the network using WiFi, and finally enable the VPN client (if you have a VPN service).

[2022-04-02 10:22] jacek12345 commented on #76
Where (from what path) should i start for typing "export HOMEKIT_PATH=/path/to/esp-homekit-sdk/" ? I can only from F:/GitHub/esp-idf. But it seems to not work:
`F:\GitHub\esp-idf>export HOMEKIT_PATH=\GitHub\esp-homekit-sdk
Setting IDF_PATH: F:\GitHub\esp-idf`
When I try from other locations (e.g. from "F:\GitHub\esp-homekit-sdk" i see error that "'export' is not recognized as an internal or extern

[2022-04-16 04:14] maialbe2823 opened #122 "ESP Rainmaker HomeKit Switch Example Please set HOMEKIT_PATH to esp-homekit-sdk repo"
![pic1](https://user-images.githubusercontent.com/85844720/163660808-55aabc26-f0ce-422d-be61-f59f339cf5f7.png)
I get this error when trying out the ESP Rainmaker HomeKit sample.
However; when I try to declare the HOMEKIT_PATH I get the following error:
![pic2](https://user-images.githubusercontent.com/85844720/163660935-f10b9d64-e75a-4fb2-b24e-ee74181977e0.png)
Any ideas on how to resolve this ple

[2022-04-18 14:26] shahpiyushv commented on #122
@maialbe2823 how exactly are you setting the HOMEKIT_PATH? As per the example [README](https://github.com/espressif/esp-rainmaker/tree/master/examples/homekit_switch#setup), you need to set it using

[code]

This works atleast on MacOS and Linux when used from the terminal.

[2022-04-18 16:26] maialbe2823 commented on #122
Yeah , but how and where do I set that path?

[2022-04-22 10:10] shahpiyushv commented on #122
@maialbe2823 , as mentioned above, if you are using macOS or Linux terminal, `export HOMEKIT_PATH=/path/to/esp-homekit-sdk/` is what you should execute on the terminal (basically, from the same place where you execute idf.py build). In your [earlier comment](https://github.com/espressif/esp-rainmaker/issues/122#issue-1206008659), you mentioned "However; when I try to declare the HOMEKIT_PATH ...".

[2022-04-22 10:53] maialbe2823 commented on #122
I declared it in the CmakeLists of the project since I saw it in one of the examples. So, I’m other words that’s only for Mac or Linux. But I’m doing this in Windows, and it still doesn’t run and it gives me those errors. How can I fix it on windows?

[2022-04-22 11:17] shahpiyushv commented on #122
@maialbe2823 , you should set HomeKit_PATH at the same place where you have set your IDF_PATH. I believe the steps [here](https://docs.espressif.com/projects/esp-idf/en/v3.3/get-started-cmake/add-idf_path-to-profile.html) may work, just by replacing IDF_PATH with HOMEKIT_PATH. Meanwhile, setting it in CMakeLists.txt may also work, but you may require to give the complete absolute path like `set(HO

[2022-04-24 03:35] maialbe2823 commented on #122
I did both ways but got this error instead:
 for bothCMake Error:
  Running

   'C:/Users/.../.espressif/tools/ninja/1.10.2/ninja.exe' '-C' 'C:/Users/maial/OneDrive/Desktop/test/esp-rainmaker/examples/homekit_switch/build' '-t' 'recompact'

  failed with:

   ninja: error: build.ninja:21102: lexing error

[2022-05-11 01:37] twlawrenceko opened #123 "Matter support?"
Hello,

I have visited the ESP blog regarding to the Matter support on ESP32. It seems like it can be loaded as a CMake library?

Thank you.

[2022-05-11 04:45] shubhamdp commented on #123
@twlawrenceko are you looking for Matter support on ESP32 or RainMaker + Matter support on ESP32?

We support Matter on ESP32 chips and you can try the [lighting app](https://github.com/project-chip/connectedhomeip/tree/master/examples/lighting-app/esp32) example in [connectedhomeip](https://github.com/project-chip/connectedhomeip) repository. There are few more examples in `examples/*/esp32` path

[2022-05-11 05:47] twlawrenceko commented on #123
@shubhamdp , keep me updated once the Matter support is integrated with RainMaker then I will close this thread.

[2022-05-11 18:21] twlawrenceko opened #124 "Pairing RainMaker Assist Claiming after HomeKit Pairing?"
Hello,

Once the ESP device is paired via HomeKit QRcode (MFi in our case specifically). How do we link into RainMaker app?

This is the terminal log we see once HomeKit is paired up.
[code]

When attempting to scan the RainMaker provisioning QRcode, it shows as device not found.

Thank you

[2022-05-12 09:27] shahpiyushv commented on #124
@twlawrenceko there are 2 things required for RainMaker to work

1. MQTT credentials
These can be automatically fetched using self claiming for esp32c3, esp32s2 and esp32s3. For esp32, the assisted/host claiming are the only options. Since assisted claiming is linked to BLE provisioning, it cannot be performed after the node is already paired. [Host claiming](https://rainmaker.espressif.com/docs/c

[2022-05-14 00:11] twlawrenceko commented on #124
@shahpiyushv , Thank you for the details.

For the unified provisioning process (that is included in ESP-IDF repo), it seems to only connect ESP to local Wi-Fi network but not pairing to the app or phone. Or in other words, once the device is paired, how would the phone application link back to the ESP that is on the same network?

So for ESP RainMaker we know it will go through similar process as

[2022-05-14 00:32] twlawrenceko commented on #124
From some answer [here](https://github.com/espressif/esp-idf-provisioning-android/issues/25#issuecomment-772396331), the softAP provisioning is receiving the success since the softAP is working while STA is also working, which softAP isn't closed yet. But what is the method for future local connection that is done in RainMaker?

[2022-05-16 18:59] shahpiyushv commented on #124
@twlawrenceko , as you can see [here](https://rainmaker.espressif.com/docs/user-node-mapping.html) the user-node mapping for RainMaker happens during the provisioning itself. The information is sent to the node just before sending the wifi credentials. Post provisioning, there is no way to do the user node association using this method. But as mentioned earlier, for a case like HomeKit provisionin

[2022-05-24 11:17] jacek12345 opened #125 "error: implicit declaration of function 'portMUX_INITIALIZE' (MEGH-3496)"
I can't compile any of example:
`error: implicit declaration of function 'portMUX_INITIALIZE'; did you mean 'portMUX_NO_TIMEOUT'? [-Werror=implicit-function-declaration]
     portMUX_INITIALIZE(&pxNewRingbuffer->mux);`
Using ESP-IDF 4.4

There is in rbuf.c:
`#if ESP_IDF_VERSION >= ESP_IDF_VERSION_VAL(4, 4, 0)
    portMUX_INITIALIZE(&pxNewRingbuffer->mux);
#else
    vPortCPUInitializeMutex(&pxNewRi

[2022-05-27 04:22] jacek12345 commented on #125
Can I use vPortCPUInitializeMutex in place of portMUX_INITIALIZE in ESP-idf 4.4? Is it correct? It makes no compilation error.

[2022-05-27 05:26] shubhamdp commented on #125
@jacek12345 Can you please tell me the rainmaker commit id and esp-idf commit id that you are using.

[2022-05-27 06:16] jacek12345 commented on #125
rainmaker: commit b4db703281af865b59d607821483114adb3e1e3f (HEAD -> master, origin/master, origin/HEAD)
esp-idf: commit 9b46f4e086b656fe3307c3ff92e8c476ccd2d1c6 (HEAD, tag: v4.4-beta1)

[2022-05-27 07:36] shubhamdp commented on #125
This is fixed in esp-idf stable release v4.4.1. Is it possible for you to switch to stable [tag v4.4.1](https://github.com/espressif/esp-idf/releases/tag/v4.4.1) release?

[2022-05-27 11:17] jacek12345 commented on #125
I tried to switch to 4.4.1, but i have now:
Toolchain:
  C:/Users/jacek/.espressif/tools/xtensa-esp32-elf/esp-2021r2-8.4.0/xtensa-esp32-elf/bin/xtensa-esp32-elf-gcc.exe,
  crosstool-ng version esp-2021r2 doesn't match supported version
  esp-2021r2-patch3

[2022-05-27 11:40] shubhamdp commented on #125
re running `install.bat` and `export.bat` should be able to resolve this.

[2022-05-27 12:03] jacek12345 commented on #125
Thank You, i run install.bat but not export.bat. Now my old project, that i was checking after changing to 4.4.1, compiles.
But in rainmaker example now i have:
-- Detecting CXX compile features - done
-- Building ESP-IDF components for target esp32
Processing 2 dependencies:
[1/2] espressif/cbor (0.5.4)
[2/2] idf (4.4.1)
CMake Error at F:/GitHub/esp-idf/tools/cmake/component.cmake:238 (message):

[2022-05-27 12:29] shubhamdp commented on #125
There is an issue with including `cbor` component with idf-component-manager. Can you please downgrade the idf-component-manager to v1.0.1 and try again?

[code]

This issue will be fixed sooner

[2022-05-27 12:45] jacek12345 commented on #125
Thank You so much, now it works

[2022-05-27 12:45] #125 closed

[2022-05-31 05:46] glad-dinesh opened #127 "Request to allow access (API) to esp_rmaker_param_bounds_t and esp_rmaker_param_valid_str_list_t"
Hi,

This in reference to [ESP32 forum post](https://www.esp32.com/viewtopic.php?f=41&t=28069) regarding API for esp_rmaker_param_bounds_t and esp_rmaker_param_valid_str_list_t structures.
Can we get suitable API for the same.

Regards,

Dinesh

[2022-06-01 08:02] jacek12345 opened #128 "esp_err_t esp_rmaker_report_node_details() is reflected in the clients but need refresh client app (MEGH-3532)"
After new device added and called esp_err_t esp_rmaker_report_node_details(), new device appear in client app (iOS) only after refresh interface (slide down on the screen). Is it possible to device list auto update? I'm not sure if it is Rainmaker or iOS app issue.

[2022-06-01 08:31] jacek12345 opened #129 "local controll - security1: Invalid state of session 0 (expected 2). Restarting session. (MEGH-3533)"
Every sliding down on the phone app screen makes this:
W (22314) security1: Invalid state of session 0 (expected 2). Restarting session.
E (22314) security1: Closing old session with id 2954182840
Is it correct behaviour?
This is only when phone is connected to wifi (local controll). There is not issue when connected throw LTE .
Using "switch" example on ESP32-C3, ESP-IDF 4.4.1

[2022-06-01 11:31] jacek12345 commented on #129
It looks like re-established and working.

[2022-06-01 11:32] jacek12345 commented on #129
@jacek12345 , there is indeed some issue with the local control logic which throws this error, but eventually the session gets re-established and data is sent successfully on local network? Does your observation match this? Are you missing some commands OR getting them via cloud instead of the local network?

It looks like re-established and working.

[2022-06-01 11:34] jacek12345 commented on #129
sorry i closed by misclick

[2022-06-05 16:11] jcassette opened #130 "esp-insights dependency error (MEGH-3537)"
I get this error with ESP-IDF v4.4.1:

[code]

Picking this commit fixes the issue:
https://github.com/espressif/esp-insights/commit/2d9a8ced43f2aefc4c3f169911f0ce3dd26506ed

Reverting this commit also fixes the issue:
https://github.com/espressif/esp-insights/commit/7d2220b8a3014f30424969bb7343b5258df94930

[2022-06-06 15:12] #130 closed

[2022-06-22 11:27] halfn0rmal opened #132 "Source for the backend is missing. (MEGH-3600)"
Where is the backend source?

[2022-06-22 11:30] Xarkle1 commented on #96
I agree - open sourcing Rainmaker would be great.   We are developing IOT using ESP32/S2/S3/C3 and that would be super helpful and great for Espressif.

[2022-06-22 18:21] shahpiyushv commented on #132
@halfn0rmal , the ESP RainMaker backend is not open source. If you have any feature request, do let us know. For any commercial application requirements, please get in touch with our sales team [here](https://www.espressif.com/en/contact-us/sales-questions)

[2022-07-08 10:29] espzav opened #133 "MDNS component not found after changes in IDF 5.0 (MEGH-3638)"
Please, we are using esp_rainmaker component in esp-bsp example project and this failing now, because they are changes in mdns compnent in IDF 5.0. The mdns component is moved to component manager. Please, could you help me with fix?

Thank you very much.

[2022-07-10 15:19] homonto opened #134 "Cannot provision new device"
So I am trying ESP32-S2 and when trying to provision I am getting errors on the application (serial monitor shows lots of data):
![Screenshot_20220710-161654_ESP RainMaker](https://user-images.githubusercontent.com/46562447/178151047-1b9775a5-68d0-4bba-979e-a6a9e7c0694c.jpg)
![Screenshot_20220710-161643_Settings](https://user-images.githubusercontent.com/46562447/178151054-8b637358-adc9-4769-9923-

[2022-07-12 06:10] shahpiyushv commented on #133
@espzav Can you please create a file at location `components/esp_rainmaker/idf_component.yml` with this content:

[code]

Please note that release/v5.0 branch is still not stable and so it may have other breaking changes in future.

[2022-07-12 06:42] espzav commented on #133
Thank you, @shahpiyushv. It's working. May I make a PR for it?

And I know, that v5.0 is not stable, but these breaking changes is blocking for other development, because there is failing automatic tests.

[2022-07-12 09:07] shahpiyushv commented on #133
@espzav good to know that this worked for you. We already have an internal MR for this, which will be merged shortly.

[2022-07-12 09:10] espzav commented on #133
@shahpiyushv Ok, I found it. Thank you very much!

[2022-07-12 11:43] #133 closed

[2022-07-12 12:29] PratikMistry-cbi opened #135 "building example project missing member in struct"
Hi.

I'm trying to build the example switch project of the esp-rainmaker. However receiving the following error.

 error: 'esp_local_ctrl_config_t' {aka 'struct esp_local_ctrl_config'} has no member named 'proto_sec'
         config.proto_sec.version = sec_ver;
               ^
C:/Users/Pratik.Mistry/esp/esp-rainmaker/components/esp_rainmaker/src/core/esp_rmaker_local_ctrl.c:293:15: error: 'esp_lo

[2022-07-12 18:21] shahpiyushv commented on #135
@PratikMistry-cbi , have you pulled in the latest esp-rainmaker which has some fixes for newer idf versions?

[2022-07-13 06:50] PratikMistry-cbi commented on #135
@shahpiyushv yes on 2f0f5e0 branch

[2022-07-14 14:03] Parteiadler opened #136 "Cannot generate QR code in led_light example (MEGH-3656)"
Hello,
I’m trying to build the example “led_light” project in esp-rainmaker. When monitoring the output, I received the error below:
I (2022) wifi_prov_mgr: Provisioning started with service name : PROV_1b361c
I (2022) app_wifi: Provisioning started
I (2022) esp_rmaker_local: Event 1
I (2032) app_wifi: Scan this QR code from the ESP RainMaker phone app for Provisioning.

Traceback (most recent cal

[2022-07-16 14:37] Fahadk7 commented on #11
Hi @shahpiyushv
I was experimenting with ESP Rainmaker, and was interested in using this BLE Local control feature

is this feature now live in Rainmaker?

[2022-07-18 05:30] shaurya0406 commented on #122
Even I am facing the same issue.
I have modified the Cmakelists.txt file to add path and extra component directories of HomeKit SDK.

`# The following lines of boilerplate have to be in your project's CMakeLists
# in this exact order for cmake to work correctly
cmake_minimum_required(VERSION 3.5)

# if(NOT DEFINED $ENV{HOMEKIT_PATH})
#     message(FATAL_ERROR "Please set HOMEKIT_PATH to esp-homeki

[2022-07-18 05:32] shaurya0406 commented on #122
Even I am facing the same issue.
I have modified the Cmakelists.txt file to add path and extra component directories of HomeKit SDK.

[code]

[2022-07-18 17:45] shahpiyushv commented on #136
@Parteiadler , not really sure why this error has occurred, but seems some issue while rendering the code via python. A workaround would be to disable CONFIG_APP_WIFI_PROV_SHOW_QR so that the QR code is not printed at all and instead, use the URL that is printed on the serial terminal.

[2022-07-19 13:34] Thomasalex2 opened #137 "Is there a way to disable user inputs/configs conditionally?"
Hey all,

First of all, I absolutely love Rainmaker and thanks for making it a reality.

I have a WS2812 project where I would like to disable the hue, saturation and brightness sliders when the user selects a preset colour theme/gradient from the dropdown in the app? Is that currently possible to do?

I am using Rainmaker on Arduino IDE

[2022-07-19 18:01] shahpiyushv commented on #137
@Thomasalex2 Modifying the visibility of the UI elements or enabling/disabling them at run time is not possible at the moment.

[2022-07-20 09:53] jacek12345 opened #138 "Using NimBle in app makes crash after provisioning (MEGH-3669)"
I need constantly using BLE in rainmaker.  Communicate with BLE sensor (using NimBle, as RainMaker while BLE provisioning).
It works since provisioning is already done.
When I need to make provisioning, app crashes on my NimBle initialisation.
I placed   NimBle initialisation after app_wifi_start() function:

`
 /* Start the Wi-Fi.
     * If the node is provisioned, it will start connection attemp

[2022-07-20 12:57] manuferro commented on #134
I've the same problem after the updating all at last release (esp-idf, esp-rainmaker, esp-rainmaker-android)
before it was working

[2022-07-20 14:48] jamsyogendra opened #139 "can anyone say how to upgrate my blynk cloud base code"
Hello Esp-rainmaker

to be very honest review right now esp rainmaker is the one of best iot platfrom right now i am trying to switch on it
here is my blynk cloud related coding,

can anyone help me for modify my coding part for esp rainmaker

[code]

[2022-07-20 17:59] shahpiyushv commented on #134
@homonto , for your issue with esp32s2, I think your phone's Wi-Fi settings may be causing it to disconnect from the esp32s2 as the phone would not be getting Internet on that Wi-Fi interface. Typically, the OS gives a popup asking if you want to stay connected to the Wi-Fi. Do you get that popup?

Meanwhile, I would suggesting using the release/v4.4 branch of esp-idf and ensuring that all submodu

[2022-07-21 06:23] FlynnMa opened #140 "ESP32C3 provision crash"
Hi,

I recently created my new workspace using esp rainmaker to run with my esp32c3. I managed to build idf and the 'switch' example from esp-rainmaker, here is the guide I am following:
https://rainmaker.espressif.com/docs/get-started.html

But always, I get crashed on provisioning, I couldn't figure out why on 3 days debugging, here is my log looks like:
[code]

I tried with command:
[code]

her

[2022-07-21 07:12] jacek12345 commented on #138
Thank You for patch. I have problem with installing it:

F:\GitHub\esp-idf>git apply BT_configurable.patch
error: patch failed: components/wifi_provisioning/Kconfig:39
error: components/wifi_provisioning/Kconfig: patch does not apply

F:\GitHub\esp-idf>

[2022-07-21 07:22] IshaESP commented on #138
Hi,
Patch is getting applied at my end. Can you try making the changes manually for that file if possible.

Thanks,
Isha

[2022-07-21 07:56] FlynnMa commented on #140
update:

If I copy the `provision url` and open from browser, I can successfully scan it, but still I get failed like:

![8c441675be468a3c318a7999711d037](https://user-images.githubusercontent.com/12571759/180160537-aab58ddf-6a1a-4812-b71c-6174d46ffb49.jpg)

with logs:
[code]

Then I continue to manually provision, I got the same crash happen...

[2022-07-21 09:47] jacek12345 commented on #138
Sorry, i think i'm doing something wrong because no files are modified at my end. But if i understand from Your patch file analysing, NimBle controller should be deinitialised after provisioning without additional flags from Your patch? It only adds some possibility for not disabling if it is needed? Is it correct or I missunderstood?
If that is correct, i don't need Your patch since i want to hav

[2022-07-21 12:21] manuferro commented on #134
Pop is inserted correctly (QR, manually, softAP, BLE). (also if is not recognized correctly)
Switching back on esp-idf 4.4 it's working.

Thansk

[2022-07-21 12:47] jacek12345 commented on #138
I changed all files manually.
SET in menuconfig:
WIFI_PROV_KEEP_BT_ON_AFTER_PROV = y
WIFI_PROV_DISCONNECT_AFTER_PROV = n

Also changed from
`ESP_ERROR_CHECK(esp_nimble_hci_and_controller_init());`
to
`ESP_ERROR_CHECK_WITHOUT_ABORT(esp_nimble_hci_and_controller_init());`

BLE works after provisioning, but .... the provisioning hangs on phone app
![File (3)](https://user-images.githubusercontent.com

[2022-07-21 13:41] shahpiyushv commented on #139
@jamsyogendra , have you already tried the RainMaker examples in Arduino? if not, please read [this blog post](https://blog.espressif.com/esp-rainmaker-now-in-arduino-cf1474526172). Also, note that if you use ESP RainMaker with ESP IDF, instead of Arduino, you will get much more flexibility. You can get started by following [these docs](https://rainmaker.espressif.com/docs/get-started.html)

[2022-07-21 13:43] IshaESP commented on #138
Hi @jacek12345,
First of all, my patch was against master branch. I will work on backporting it for release branches.

Basically, I analyzed your changes and I understand the issue now. You are trying to initialize nimble immediately after app_wifi_start() function returns. In normal case, stack deinitialization after provisioning is an asynchronous process. This involves posting message to a thre

[2022-07-21 15:02] jamsyogendra commented on #139
Yes, today i tried Rainmaker with my Device ( 8 Channel Relays and 1 Zero Cross base Fan Dimmer) with IR Remote Control, Manually Control, Mobile Control , Alexa, Google Home, also getting live feedback of button from everyside almost everything
but only one problem my dimmer power(ON/OFF) feature is working but i am unble to control brightness using slider

![MOBILE APP](https://user-images.githu

[2022-07-21 15:25] jacek12345 commented on #138
Thank You for response. You right, it is asynchronous proces. I tried with delay but this is much more time needed than 2s. Is any convenient callback function or parameter that i can check if stack ends deinitjalisation (is deinitialised), so could initialise it immediately if provisioning didn't occured or after deinitialisation if provisioning was done?

[2022-07-22 08:10] sijoalexjohnson opened #152 "Switch rename issue (MEGH-3719)"
in the ESP32  firmware if we name the Switch as  Switch1. After connecting  to the mobile  APP if we change the Switch name to Light it reflect in the APP. after restarting the ESP32 hardware . the App shows previous name Switch 1 only. how to solve this issue.  Can you update this in the next version.

Switch name is Switch 1
![1](https://user-images.githubusercontent.com/8470062/180393801-970534

[2022-07-22 10:06] Thomasalex2 commented on #137
It would actually be great if we could organize and create many different settings and parameters through the ESP rainmaker app.

A similar question, is there an easy way to update UI elements from functions without manually invoking the callback function? I'm using Rainmaker on the Arduino IDE

[2022-07-22 17:52] SohamKorgaonkar opened #141 "GVA Command for AC Temperature change gives successful response but temperature doesnt change"
Hello,

I was trying to create an device of type Air Conditioner. I have added Swith and SetpointTemperature as its parameters. The device works properly with the Rainmaker App, and the switch commands using GVA work too. The only issue i am facing is, when I try to change temperature using GVA, I get a positive response like ("Temperature set to 25 degrees") but there is no response from the devi

[2022-07-23 10:30] sonetonix-iot opened #142 "Fan dimmer not working in alexa App"
All parameters are listed in alexa App. i can control lights/switches from the alexa App,but i can't able to control dimmer/fan speed using alexa app.

[2022-07-23 10:34] jamsyogendra commented on #142
hello i am working on same project can you halp me

[2022-07-23 10:35] jamsyogendra commented on #142
https://github.com/espressif/esp-rainmaker/issues/139#issue-1311268564

[2022-07-23 10:45] sonetonix-iot commented on #142
how you integrate the IR Remote control with this esp rain maker App

[2022-07-23 10:51] jamsyogendra commented on #142
using IR lib

[2022-07-23 10:52] jamsyogendra commented on #142
#include <IRremote.h>

[2022-07-23 10:54] sonetonix-iot commented on #142
did you control IR function from ESP RAINMAKER App ?

[2022-07-23 10:55] jamsyogendra commented on #142
yes i did it also with manually feadback with manual switch and ir switch

[2022-07-23 11:00] sonetonix-iot commented on #142
it means if you press any button in App, the user's custom IR command will illuminate right?

[2022-07-23 11:04] jamsyogendra commented on #142
yes

[2022-07-23 11:06] sonetonix-iot commented on #142
Okay thank you

[2022-07-23 11:07] jamsyogendra commented on #142
whats about fan dimmer which technics are you using from control fan speed or control brigtness of AC.

Zerocross of relays base?

[2022-07-23 11:09] sonetonix-iot commented on #142
both techs used ...circuit side no problem

[2022-07-23 11:10] jamsyogendra commented on #142
can you share some details about zero cross dimming method

[2022-07-23 11:10] sonetonix-iot commented on #142
what type of bulb led or incandecent

[2022-07-23 11:15] jamsyogendra commented on #142
ac bulb or we can say ac dimmer

https://www.tinytronics.nl/shop/en/robotdyn-thyristor-ac-dimmer-3.3-5v

[2022-07-23 14:39] jamsyogendra commented on #142
Anything solution

[2022-07-25 04:53] sonetonix-iot commented on #142
there will be an example program, as you mentioned link. it will work

[2022-07-25 08:45] FlynnMa opened #143 "Association refused temporarily, comeback time 205824 mSec"
I very frequently get this kind of failure at startup time, esprecially after flash new binary on the first boot:
[code]

20 seconds is just too long for my system, how can I fix it?

[2022-07-25 09:45] shahpiyushv commented on #143
@FlynnMa , this seems some Wi-Fi specific issue. Can you file it in [esp-idf issues](https://github.com/espressif/esp-idf/issues)?

[2022-07-25 10:17] jacek12345 commented on #138
Thank You Isha, it looks that
vTaskDelay(2000); helps.

But, could You check flow with Your patch with WIFI_PROV_KEEP_BT_ON_AFTER_PROV disabled?
I think, that there is something wrong with deinitialisation.
First, i tried with:
 WIFI_PROV_KEEP_BT_ON_AFTER_PROV = y
 WIFI_PROV_DISCONNECT_AFTER_PROV = y

In monitor, i see that NimBle stack deinitialisation ends with
'protocomm_nimble: Protocomm layer

[2022-07-25 13:26] jacek12345 opened #144 "BLE and WiFi coexistence"
I added BLE scanning in app. It scans advertising packets from my BLE sensors.
Advertising frames are sended by sensor rarely, two frames every 10s (I can adjust interval between packets).
There is problem that most of this packets are missed when I enable ESP32_WIFI_SW_COEXIST_ENABLE.
If disable this flag, all advertising packets from sensor are received but wifi doesn't connect.
Is any way for b

[2022-07-25 14:11] SubhodipRoy161101 opened #145 "How to check if device is connected to server (MEGH-3684)"
I would like to know which function would tell us if the device is connected to the cloud or not. It would simply check if esp32 is connected to the cloud and return true if it is connected and return false if it is not connected.

[2022-07-25 14:12] FlynnMa commented on #143
Hi @shahpiyushv, here it is https://github.com/espressif/esp-idf/issues/9428

[2022-07-25 15:38] Maldus512 opened #146 "CMake error with ESP-IDF v4.4.1 (MEGH-3685)"
Hello,
I am encountering an error when trying to use esp-rainmaker with ESP-IDF v4.4.1 (git tag), seemingly related to this other issue https://github.com/espressif/esp-rainmaker/issues/133.

[code]

The error is present even in the provided examples (temperature_sensor) and it seems to be related to the `components/esp_rainmaker/idf_component.yml` file that was recently added. If I remove it the

[2022-07-25 16:00] jacek12345 commented on #144
I disabled ESP32_WIFI_SW_COEXIST_ENABLE and set .itvl and .window in ble_gap_disc_params that there is 200ms for wifi and 300ms for BLE. My BLE sensor sends 2 packets with 280ms interval.
Works very good, always receive one packet.

[2022-07-26 05:54] shahpiyushv commented on #145
@SubhodipRoy161101 , there is no API that gives this information directly, but your application code can use the RMAKER_MQTT_EVENT_CONNECTED  and RMAKER_MQTT_EVENT_DISCONNECTED  events to track the connectivity as you can see [here](https://github.com/espressif/esp-rainmaker/blob/5c81ecf755432ebeffaadc966b67799ea2f7c9d3/examples/switch/main/app_main.c#L83).

[2022-07-26 05:56] shahpiyushv commented on #146
@Maldus512 , can you update your idf component manager using `pip install --upgrade idf-component-manager` and retry?

[2022-07-26 08:06] Maldus512 commented on #146
Updating the python package indeed fixed it. Shouldn't it be done when running `install.sh`?

[2022-07-26 08:06] #146 closed

[2022-07-27 07:01] IshaESP commented on #138
Hi @jacek12345 ,
When WIFI_PROV_KEEP_BT_ON_AFTER_PROV is disabled ('n'), that is the expected behaviour because we are stopping the bluetooth host stack here. The clean way to do this it to stop advertising, terminate the connection and then stop the stack. Hence all the console prints.

Thanks,
Isha

[2022-07-27 09:42] jacek12345 opened #147 "ESP32C3 Self Claiming doesn't work (MEGH-3690)"
Works with Assisted Claiming. When switch in menuconfig to Self Claiming, there is:

[code]

I erased flash before programming.
Using:
- ESP-IDF 4.4.1
- ESP32C3
- switch example

The only way to Self Claiminig success after erase-flash, is:
1. try to add device - claiming will fail and device is not added (Confirming Node association fails)
2. restart module - claiming will success but device not

[2022-07-27 09:47] jacek12345 commented on #138
Thank You

[2022-07-27 09:47] #138 closed

[2022-07-27 11:05] jacek12345 opened #148 "Provisioning always with connection problem and reconnecting to AP - long time wasted during provisioning (MEGH-3691)"
Using:
- ESP32C3
- switch example
- ESP-IDF v.4.4.1

Provisioning always lasts a long time due to connection problem (look near "I (34571) wifi:bcn_timout,ap_probe_send_start" line):

[code]

[2022-07-27 11:52] shahpiyushv commented on #147
@jacek12345 , this and the other issue #148 seem related. Does this occur only with some specific AP? Is your device at a significant distance from the AP?

[2022-07-27 13:22] jacek12345 commented on #147
There is near 4 meters between device and AP. There was rssi: -57. Tried little closer (near 3m and RSSI = -49) and the same problem. Than tried with other AP - wifi hotspot from Android phone connected to the internet via LTE. Everything on my desk. Looks little different.
Sometimes Self Claiming succeed, sometimes failed. Wifi reconnection take place in different moments.
It looks that some prob

[2022-07-27 13:26] shahpiyushv commented on #147
@jacek12345 , I will check this with the Wi-Fi and BLE teams, but can you also try self claiming with SoftAP provisioning? That will help understand if this is a co-ex issue or not.

[2022-07-27 14:30] jacek12345 commented on #147
Sure, tried. It looks like co-ex problem. With SoftAP everything OK.
SoftAP:
[code]

And one more time for BLE provisioning:

[code]

[2022-07-27 16:23] jacek12345 opened #149 "SoftAP vs BLE provisioning (MEGH-3697)"
What to consider when choosing?
Is any of the methods better? Or depends from something?
Using ESP32C3

[2022-07-28 13:57] shahpiyushv commented on #149
@jacek12345 , generally we recommend using BLE so that the phone does not have to disconnect from its existing Wi-Fi network just for provisioning. Moreover, we have noticed that some phones automatically disconnect from the SoftAP interface since that network does not have Internet.

[2022-07-29 05:35] jacek12345 commented on #149
Thank You for response.

[2022-07-29 05:35] #149 closed

[2022-07-29 09:28] jacek12345 opened #150 "How to change node name? (MEGH-3707)"
Is it possible to change node name? I didn't find any function for it.
It should be modifiable since name displays on mobile app as main, over node's devices. It should be possible for user to manage it.

[2022-07-29 10:19] shahpiyushv commented on #150
@jacek12345 we did not add the facility for changing node name because

1. Most uses cases have 1:1 mapping between node and device and so, the device name is sufficient.
2. 3rd party integrations like Alexa/GVA (and even HomeKit for that matter, if that is also added) don't show the concept of node and treat the individual devices under node as independent named entities and so, the node name get

[2022-07-29 11:25] jacek12345 commented on #150
Thank You, I will do that later as custom service.

In my opinion, this is not so important for end user to displaying node name (that don't identify which one the node is) on top of multidevice group. It should be rather in node details section. It could be displayed user managable name on top of multidevice node. Now this is even hard to choose nodes while creating group since each node have the

[2022-07-29 20:14] jacek12345 opened #151 "number of parameters (MEGH-3710)"
Is the number of parameters limited?
Added 7'th parameter for device that is ESP_RMAKER_UI_TOGGLE make some strange behaviour in iOS mobile app.
When I have 4 ESP_RMAKER_UI_TEXT parameters and 2 ESP_RMAKER_UI_TOGGLE parameters, everything works ok. But when add next ESP_RMAKER_UI_TOGGLE parameter and toggle ON one of this 3 ESP_RMAKER_UI_TOGGLE  parameters, it toggles  alone ON and OFF, and also n

[2022-08-01 14:00] shahpiyushv commented on #147
@jacek12345 , what is the esp-idf version being used? I saw similar failure with the tagged release v4.4.1, but the same works fine with latest release/v4.4 branch. Can you check if it is the same for you?

[2022-08-01 14:43] jacek12345 commented on #147
I use v4.4.1.
Versioning of ESP-IDF drives me creazy. I don't understand which version is newest and which i should use. I use v4.4.1 with other project also so I am afraid of changing.
Additionally, I am not very proficient with github's functions...

[2022-08-01 17:40] shahpiyushv commented on #147
@jacek12345 , v4.4.1 is indeed the latest stable esp-idf release. You can read more about esp-idf versioning [here](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/versions.html). All v4.4.x releases would be tagged on release/v4.4 branch. The branch has moved ahead from v4.4.1 with new bugfixes and this BLE issue seems one of those. The command to clone this branch is:

[code]

[2022-08-04 12:22] jacek12345 commented on #147
Thank You @shahpiyushv  and @jcassette . Now it works with.

[2022-08-04 12:27] jacek12345 commented on #148
related with #147 . Resolved by updating ESP-IDF to release/v4.4 branch

[2022-08-04 12:27] #148 closed

[2022-08-04 12:28] #147 closed

[2022-08-04 12:31] #151 closed

[2022-08-05 12:04] jacek12345 opened #153 "Adding parameter to one device, adds it to other device in specific scenario (MEGH-3727)"
I replicated issue on multidevice example.
Scenario is as follows:
1. Creating two additional params:
[code]
2. Adding both params to switch_device:
[code]
3. adding only one (first) param to light_device
[code]
4. Result: also second parameter is added to light_device.
From monitor:
`I (4892) esp_rmaker_param: Reporting params (init): {"Switch":{"Name":"Switch","Power":true,"MY PARAM 1":false,"MY

[2022-08-05 12:16] shahpiyushv commented on #153
@jacek12345 it is not allowed to add one parameter into multiple devices. We will add checks internally so that the `esp_rmaker_device_add_param()` API will throw an error if the given param is already part of another device.

In your case, please create a new param and then add it to the light.

[2022-08-05 12:21] jacek12345 commented on #153
There is in docummentation, that **Parameter name should be unique in a given device.**
![image](https://user-images.githubusercontent.com/34368502/183075860-8d1db82d-1ab5-4bfe-bf02-ca02c8727b86.png)

[2022-08-05 12:32] jacek12345 commented on #153
Ok, I understand, parameter name is not the same as parameter handle. We can't add the same parameter (using the same handle) to different devices.
But I'm not sure if it shouldn't be possible with RainMaker. Especially if it generally works if we use one common parameter. It looks rather that there is problem in `esp_rmaker_device_add_param()`

[2022-08-05 12:34] shahpiyushv commented on #153
@jacek12345 Yes, the name can repeat in other devices, but the param object itself needs to be unique. So, you will have to create a 3rd custom param (with the same name "MY PARAM 1" if you wish) and then add it to your light device.

[2022-08-05 12:38] shahpiyushv commented on #153
@jacek12345 , the parameter object itself has quite some metadata associated with it, including its value, bounds, UI type, etc. Even if bounds, UI type, etc. could be same, the value itself would typically not be the same and will have to be individually modifiable and hence, require different objects.

[2022-08-05 13:33] jacek12345 commented on #153
OK, thank You. Closing, but rethink it please, as it would be very convenient to have some main multidevice parameters viewable (and modifiable or not) from different device tabs. Especially, that it works if we use only one 'common' parameter (when modified in one device, it is reported also to other devices that have this parameter registered). Is it fortuitously?

[2022-08-05 13:33] #153 closed

[2022-08-05 20:12] Andrisetianabrata opened #154 "Request the mobile app's push notification feature (MEGH-3728)"
Hi, does ESP Rainmaker have a push notification feature?. If so, how i do that? I can't find any examples for push notifications

[2022-08-05 20:33] JohnMacrae commented on #154
Use this: esp_rmaker_raise_alert("High Voltage Cutoff");

Kind Regards
John

On Fri, 5 Aug 2022 at 21:12, Andri Setianabrata ***@***.***>
wrote:

[2022-08-05 20:40] Andrisetianabrata commented on #154
how to use it the same as arduino.? i used arduino ide to make it

[2022-08-06 18:14] ayush9upta opened #155 "ESP Rainmaker disconnects from Wifi after few Hours"
Hi, I've been using ESP Rainmaker for days now, Everything works perfectly except that it gets disconnected after few hours,
Day 1- 3hrs, 4hrs, 2hrs, 30mins etc..
and same thing happens in the next days
the longest it has stayed connected is 5-6hrs.

The Only solution is to turn off and turn the ESP32 board back on and it connects Instantly again.
Attaching the code that I'm using below.
If someon

[2022-08-08 16:52] #145 closed

[2022-08-08 16:55] SubhodipRoy161101 opened #156 "SoftAp Local IP Adress"
I was wondering if it is possible to add a new device without using the app. What is the Local IP Address that can be accessed when connected to the ESP Hotspot?

Thanks for any kind of information in advance.

[2022-08-09 04:36] sanket-wadekar commented on #154
Hi @Andrisetianabrata,
All RainMaker C APIs can work in Arduino too. The ones in Arduino examples are just CPP abstractions on top.

To add push notifications feature to your arduino application, insert `#include <esp_rmaker_core.h>` and call `esp_rmaker_raise_alert("<your-message>");` where you want to send push notifications.

[2022-08-09 04:54] sanketwadekar commented on #154
Hi @Andrisetianabrata,
All RainMaker C APIs can work in Arduino too. The ones in Arduino examples are just CPP abstractions on top.

To use the push notifications feature, include `esp_rmaker_core.h` file and use `esp_rmaker_raise_alert("<message>");` to send notifications.

[2022-08-09 06:44] jacek12345 opened #157 "Problem with delete device from node (MEGH-3737)"
I try to delete device from node:
[code]
Am I doing something wrong?
After that it deletes from iOS app (need to refresh), but ONLY if there is local control enabled. If it is disabled in menuconfig, device remains in mobile app.
The second problem, even when local control enabled and device dissapeared, it backs to app on each refresh (when "Reachable on WLAN" message dissapear) and stay there fo

[2022-08-09 10:58] shahpiyushv commented on #157
After adding or removing a device or params, please call the [esp_rmaker_report_node_details() API](https://github.com/espressif/esp-rainmaker/blob/5c81ecf755432ebeffaadc966b67799ea2f7c9d3/components/esp_rainmaker/include/esp_rmaker_core.h#L885) to report updated data to cloud.

[2022-08-09 11:19] jacek12345 commented on #157
Thank You for help, it works now.

[2022-08-09 11:19] #157 closed

[2022-08-09 12:38] jacek12345 commented on #155
Some logs from monitor would be helpfull ...

[2022-08-09 14:45] SubhodipRoy161101 opened #158 "Can we add two nodes in ESP Rainmaker App. (MEGH-3742)"
I have created A node with 4 Switch for my Living Room. I want a exact Similar Node for my Drawing Room also. If get a new ESP32 and implement the same code (Using c++ in Arduino IDE) to it and use same account in rainmaker app, will it add a new node in the app or is there anything we need to change in the code so that it identifies it as a new device?

[2022-08-10 07:44] sanketwadekar commented on #152
Hi @sijoalexjohnson,
This issue arises because, in the Switch example, the variable `my_switch` is initialized outside the `setup()` function. The statement `static Switch my_switch("Switch", &gpio_switch);` creates all parameters (name, power) and tries to read their stored values from nvs before nvs has been initialized. Hence, it does not read the name from storage on reboot.

To **fix** this,

[2022-08-10 13:12] jacek12345 opened #159 "Problem with parameter confusion"
Reproduced on multi_device example.
Using ESP-IDF v4.4.2
ESP32-C3
iOS app
Problem is that edited value of parameter A sometimes is comming to device as value of parameter B.
You can see this issue on multi_device example. Go to Temperature sensor device and change name to something that is accepted as float (e.g. 25). It is comming as Temperature value, not name value. Sometimes it comes as should

[2022-08-10 13:26] jacek12345 commented on #158
Yes, we can add two nodes in app. No change in code required for second node. Node registration is quite complex but based on generated random key.

[2022-08-11 11:11] sijoalexjohnson commented on #152
Thanks. i have tested, its working fine.
Regards
SijO

[2022-08-11 23:35] beachmiles commented on #87
I just got my LOLIN esp32-c3 mini WIFI working by digging this piece of errata from their site. So ANNOYING!!!
[code]

[2022-08-15 06:04] Mri007 opened #160 "Rainmaker doesnt sync after power cycle (MEGH-3752)"
The esp32 doesnt sync with cloud after powering off and turning back on.

[2022-08-15 07:34] sanketwadekar commented on #160
Please provide more details about the issue. It will also help if you provide logs.

[2022-08-15 10:52] Mri007 commented on #160
Suppose i have one light turned on from mobile app. It remain on till i turn off esp32. After re-powering esp the light remain off..
It doesnt sync with cloud after connecting to wifi i.e. turn the light on again.

[2022-08-16 11:44] shahpiyushv commented on #160
@Mri007 , we do not have logic of fetching previous state from cloud because it is not guaranteed that the cloud has the latest state. Instead, there is an option to store it in nvs memory. You just need to add the `PROP_FLAG_PERSIST ` as shown [here](https://github.com/espressif/esp-rainmaker/blob/master/components/esp_rainmaker/src/standard_types/esp_rmaker_standard_params.c#L20). Then, after a

[2022-08-16 22:43] me-chiel commented on #7
a pushbutton would be very helpful!
I hope it will be available for IOS as well.

[2022-08-17 00:26] felixcollins commented on #99
This issue should be closed.

[2022-08-17 00:28] felixcollins commented on #96
At the very least there should be some public information about expected costs of using it. One gets the impression it will be cheap or free for small commercial use. Now I'm worried that I'm wasting my time investigating it!

[2022-08-17 00:37] halfn0rmal commented on #96
I have enquired about pricing and it is prohibitive for a small company, minimum 5000usd per year for usage plus 5000usd upfront for the first year. If your are a new venture and you are not sure whether to use rain maker then I would say you are better to invest that 10,000usd and just use the aws examples with amplify, iot core etc and build your own infrastructure that you can own going forward